[2021-04-15 20:51] bitwiseman commented on #1088
Create  a PR with your change.
Your modifcation of the test is good but it changes the URL of the search, which results in Wiremock correctly saying it doesn't have stub responses that match the new URL.   You need to update test resource files to match the new URL.

[2021-04-15 20:58] breandan commented on #1088
Ah thanks, after updating the test resources the unit test is now passing as expected.

[2021-04-16 04:13] rdlaitila opened #1102 "NullPointerException calling GHCheckRun.update() then .create()"
**Describe the bug**

using org.kohsuke:github-api:1.127 to match version available in recent Jenkins release

Calling GHCheckRun.update() and subsequently GHCheckRunBuilder.create() where GHCheckRun was obtained through GHRepository.getCheckRuns() causes a NullPointerException.

GHRepository GHObject is null and not being set in this scenario

[code]

Official tests show this working only if you

[2021-04-16 06:48] SavvasKatsuyaSawada opened #1103 "GHRepository#listLanguages incorrect return type"
**Describe the bug**
GHRepository#listLanguages 's return type is defined Map<String, Long>, but actual object is Map<String, Integer>

**To Reproduce**
run code with:
 final Map<String, Long> languageMap = ghRepository.listLanguages();
and in the debugger, inspect the actual object.
Later step, if we use the value, we get java.lang.ClassCastException: class java.lang.Integer cannot be cast to cla

[2021-04-16 07:05] #1088 closed

[2021-04-16 09:40] kahilan5 opened #1104 "Add ISSUE_COMMENT event type"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Versi

[2021-04-16 20:11] #1050 closed

[2021-04-16 20:15] bitwiseman commented on #1104
This is not an issue.

Please take this kind of question to https://docs.github.com, or https://github.com/hub4j/github-api/discussions , or https://gitter.im/hub4j/github-api

[2021-04-16 20:20] bitwiseman commented on #1102
Fixed by https://github.com/hub4j/github-api/commit/bf082f2a4650641ec545b7dadaecffba3b58806a
Releasing in 1.128.

[2021-04-16 20:20] #1102 closed

[2021-04-16 23:04] #1103 closed

[2021-04-17 10:19] akashRindhe commented on #1099
I'd like to take a crack at this but I'd like to discuss the possible approaches to fix this.

Would a static `Map` from the GitHub defined event type in `Pascal` case to the github-api defined `GHEvent` enum which will be used during the `getType()` call be an acceptable approach?

[2021-04-19 16:18] bitwiseman commented on #1104
There is a an event for issue comments: https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#issue_comment

It looks like the event is not implemented in this library yet.  Here's a couple of examples off adding an event:  #622, #1087 .

[2021-04-19 17:08] #1076 closed

[2021-04-20 22:47] bitwiseman commented on #1099
That sounds fine to me.

[2021-04-21 11:15] gsmet commented on #1104
@bitwiseman are you sure it's missing? Because we have `ISSUE_COMMENT` in `GHEvent` and we also have `GHEventPayload.IssueComment`.

[2021-04-21 15:54] bitwiseman commented on #1104
How did I not see that? 😭

[2021-04-21 15:54] #1104 closed

[2021-04-22 06:53] #1099 closed

[2021-05-01 22:45] SavvasKatsuyaSawada opened #1133 "Feature request - support for code scanning"
Can you please correct me if I am wrong, but I cannot find implementation for access code scanning.

I would love that the code scanning feature is supported in the library.
https://docs.github.com/en/rest/reference/code-scanning

I'm using: org.kohsuke:github-api:1.128

[2021-05-03 07:21] bitwiseman commented on #1133
Looks like it hasn't been implemented yet.

[2021-05-05 01:52] orlandoacevedo-pge opened #1135 "Jenkins unable to resolve class org.kohsuke.github.GitHub."
**Describe the bug**
Jenkins fails to import org.kohsuke.github.GitHub class in Jenkins Job DSL.

**To Reproduce**
Steps to reproduce the behavior:
1. Using docker image: jenkins/jenkins:2.277.3-lts-alpine
2. Install Jenkins Plugin org.jenkins-ci.plugins:github-api:1.123
3. Using Jenkins Job DSL Playground
4. Run "import org.kohsuke.github.GitHub;"

**Expected behavior**
javaposse.jobdsl.dsl.DslEx

[2021-05-08 01:05] bitwiseman opened #1138 "Add request information (endpoint or GraphQL query details) to all data objects"
Different endpoints in the REST API return different subsets of various data types.  `GHRepository` comes in any number of forms depending on what endpoint is returning it. When we implement GraphQL support this will be even more common: each query can return a different set of fields and relationships for each data type.

If we had information about the request that returned a particular record,

[2021-05-09 08:04] maxandersen opened #1140 "stargazercount is 0 unless fetched directly"
**Describe the bug**
Using latest 1.128:

`ghContent.getOwner().getStarGazersCount()` returns 0, but
`gitHub.getRepository(ghContent.getOwner().getFullName()).getStargazersCount());` returns the proper count.

Probably related to #349 and #1068

**Expected behavior**
stargazer count should be fetched, throw error or return -1 or similar - anything but returning 0.

[2021-05-10 05:37] akashRindhe commented on #1140
Is the `GHContent` object created above, a result of a code search API call? https://docs.github.com/en/rest/reference/search#search-code.

If so, then the root cause is clear as the GitHub Rest API doesn't provide the field `stargazers_count` in the response.

[code]

whereas the direct query for a repository provides the `stargazers_count` field as well as the `stargazers_url` - https://docs.git

[2021-05-11 21:35] maxandersen commented on #1140
yes, ghcontent is fetched from search query.

[2021-05-12 03:47] bitwiseman commented on #1140
We should replace `int` with `Integer` and check for null.  Or we could have the `stargazers_count` default to `-1` in `GHRepository` and test for that before returning it.
This another example of some endpoints (search endpoints especially) returning incomplete data, which #1138 would help us to address.

[2021-05-12 06:06] orlandoacevedo-pge commented on #1135
https://github.com/jenkinsci/job-dsl-plugin/blob/master/docs/Extending-the-DSL.md

Could the issue be that https://github.com/hub4j/github-api/blob/4261c42949915816a9f246eb14c3dfd21a637bc2/pom.xml needs a Job DSL extension point?

[2021-05-14 21:37] orlandoacevedo-pge commented on #1135
From reading the Jenkins Job DSL docs it looks like importing a package is not simple because of security restrictions.  I don't understand why the GitHub api package would not be a default package in the Job DSL?  But that is a question for the Job DSL Plugin dev team.  I will take this issue up with them.  Closing this ticket for now unless someone else would like to see the call available in th

[2021-05-14 21:37] orlandoacevedo-pge commented on #1135
Closing issue.

Thanks

[2021-05-14 21:37] #1135 closed

[2021-05-16 15:43] akashRindhe commented on #1133
I'd like to take this issue up @bitwiseman. Since this would be a slightly longer piece of work, could you assign this issue to me in order to avoid potential concurrent work from other contributors.

[2021-05-19 19:01] gadams00 opened #1143 "Undeprecate promoted preview API calls"
https://developer.github.com/changes/2020-08-20-graduate-machine-man-and-sailor-v-previews/
https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/internal/Previews.java#L90 Previews.MACHINE_MAN deprecations (and preview annotations) should no longer be necessary.

[2021-05-21 09:46] ashok2ashok opened #1144 "Set both "page" and "page_size" Params to PagedSearchIterable"
**Describe the bug**
While trying to limit filename search results to a specific number - say 1, the library ends up iterating over all the pages until every result is collated. I was trying to limit my search result to only one page with a certain page_size. Not looking for the library to parse all possible pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform a Search with a singl

[2021-05-21 13:02] ashok2ashok commented on #1144
I now understand how foolish my question was. I didn't notice the `Iterator`.

Fair warning to folks who are in the same boat - the issue will be masked and you'll be waiting forever if you use similar code to mine as shown below to read the results. `searchResultsIter.forEach` will continue calling the GH-API until the entire results are fetched instead of just the requested page_size.
[code]

Si

[2021-05-21 16:39] kohsuke commented on #1144
`Iterable.forEach()` naturally walks over the entire iterable and my feeling is that nobody should expect otherwise.

Thanks for a very thorough bug report, though.

[2021-05-21 16:39] #1144 closed

[2021-05-23 21:12] AteroConfigs opened #1145 "Create a Pull Request or commit"
I don´t know if this is the right place to ask, put if don´t quite understand how to create a pull request or a commit.
I would like to know how to make a pull request or commit, with a String of content as comment. Is that possible or am i not quite understanding the possibility's of this API?
  Thanks in advance

[2021-05-24 12:01] bitwiseman commented on #1145
Please ask in https://github.com/hub4j/github-api/discussions or in https://gitter.im/hub4j/github-api .

[2021-05-24 12:01] #1145 closed

[2021-05-25 06:58] maxandersen opened #1154 "allow including results from forks"
**Describe the bug**
searchContent() does not seem to have a flag/method to enable searching content in forks, i.e. what corresponds to choosing "Fork" in the "Filters" section when searching, i.e.:

https://github.com/search?q=topic%3Ajbang-appstore+fork%3Atrue&type=repositories

**Expected behavior**
Ability to have search include results in forks.

[2021-05-25 08:10] akashRindhe commented on #1080
@bitwiseman Please help close this issue as the PR has been merged and it is part of the latest release.
Also going forward, is there some way to link the PR to the issue so that the issue will be automatically closed once the PR is merged?

[2021-05-25 12:15] maxandersen commented on #1154
Ha. I thought that 'v' meant something else. Would have been good if the javsdocs itself stated what values was expected :)

[2021-05-25 12:24] akashRindhe commented on #1154
Agreed that the docs could be a lot better. Additionally, an `enum` specifying the acceptable values instead of a `String` would make it self explanatory.

[2021-05-25 12:37] gsmet opened #1155 "Problematic regression with ~/.github file authentication"
Authenticating with `~/.github` when using `GitHub.connect()` doesn't work anymore in recent versions of the GitHub API.

The client "authenticates" as anonymous instead of using the credentials.

The issue is that the `GitHubBuilder.authorizationProvider` field is never null as it's now initialized to an `ANONYMOUS` instance here: https://github.com/hub4j/github-api/blob/main/src/main/java/org/ko

[2021-05-25 12:40] gsmet commented on #1155
Workaround is to directly use `GitHubBuilder.fromPropertyFile().build()`.

[2021-05-25 13:12] Katsute commented on #1080
Closed in #1139

[2021-05-25 13:13] #1080 closed

[2021-05-26 13:55] hcoles opened #1156 "Checks api functionality broken by recent github api change"
Since 26/05 previously working calls to `createCheckRun` fail with the following error when trying to parse the github response

[code]

It isn't instantly obvious to me how the full github response can be logged, but a little debugging suggests that gh events now include 'DISCUSSION' and 'DISCUSSION_COMMENT'.

Unfortunately I think there have been further changes. Patching the enum to include the

[2021-05-26 14:12] gsmet commented on #1156
@hcoles the 404 looks like an authentication issue. Maybe related to the issue I opened yesterday https://github.com/hub4j/github-api/issues/1155 ?

[2021-05-26 14:12] gsmet commented on #1156
@hcoles do you have a proper stacktrace for the first issue?

[2021-05-26 14:23] sathishavm commented on #1156
I too face the same issue.
**Stack Trace**

`
42 common frames omitted\nCaused by: com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `org.kohsuke.github.GHEvent` from String \"discussion\": not one of the values accepted for Enum class: [GOLLUM, ALL, INTEGRATION_INSTALLATION_REPOSITORIES, META, DOWNLOAD, FORK_APPLY, CHECK_RUN, MARKETPLACE_PURCHASE, PROJECT

[2021-05-26 14:29] hcoles commented on #1156
@gsmet Not sure if it's of much use, but there is a stacktrace in this action output.

https://github.com/GroupCDG-Labs/pitest-github-demo/runs/2674168429?check_suite_focus=true

As for the 404, just retried with a fork based on `github-api-1.122` (had previously used the latest state of main) and everything works fine once the values are added to the enum.

Is that constistent with this being a s

[2021-05-26 14:36] sathishavm commented on #1156
What is the workaround for this issue?, I am trying to fetch the check runs using api

[2021-05-26 14:48] gsmet commented on #1156
I'll have a look at the enum issue this evening.

The authentication issue looks different from #1155. I would create a separate issue for it with as many details as possible.

[2021-05-26 15:30] hcoles opened #1157 "updateCheckRun call fails since 1.128"
As originally raised in #1156, calls to update check runs that worked in 1.122 now fail once the enum mapping issue is worked around.

The following code

[code]

Runs without issue in 1.122 to 1.127, but fails during the updateCheckRun call from 1.128 onwards with

[code]

@gsmet has indicated that this represents an authentication failure, however it seems strange that the call to create the che

[2021-05-26 16:41] gsmet commented on #1157
Ah yeah, if the check creation succeeds, then there might be something else going on.

[2021-05-26 21:48] maxandersen commented on #1154
so...just tried this now and it is not giving any additional results:

`gitHub.searchContent().fork("true")..`

also tried with "only" and still no results.

[2021-05-26 22:24] bitwiseman commented on #1154
@maxandersen  @akashRindhe

We have one test method currently:
https://github.com/hub4j/github-
api/blob/d0912009dd84c55190f01034a59aa3f8ec62fdf5/src/test/java/org/kohsuke/github/GitHubTest.java#L94-L155

It looks like `fork` isn't covered.  😞  Test and possible fix welcome.

[2021-05-27 09:31] bitwiseman commented on #1155
@gsmet

#945 is definitely the cause of the problem.

We need to have a mode for testing where the property file location is settable.

https://github.com/hub4j/github-api/blob/d0912009dd84c55190f01034a59aa3f8ec62fdf5/src/main/java/org/kohsuke/github/GitHubBuilder.java#L180-L183

The code at https://github.com/hub4j/github-api/blob/d0912009dd84c55190f01034a59aa3f8ec62fdf5/src/main/java/org/kohsuke

[2021-05-27 09:35] gsmet commented on #1155
Yeah, that's the fix I had in mind. The funny part will be to create a test :).

[2021-05-27 09:41] gsmet commented on #1156
@hcoles @sathishavm maybe you can give https://github.com/hub4j/github-api/pull/1159 a try?

[2021-05-27 09:59] hcoles commented on #1156
@gsmet Yes, the first call passes with this change (although I'm still blocked by #1157 so can't test anyfurther).

Also runs with the new enum values removed, so the more forgiving parsing works (excellent idea).

[2021-05-27 11:01] bitwiseman commented on #1155
@gsmet  Take a look now.

[2021-05-27 11:10] hcoles commented on #1157
Just had a little dig through the git history, and the change that seems to break things is this

https://github.com/hub4j/github-api/commit/8e20f4d9f5ec8e90a6ce673d47b0049cc4ba26fa

[2021-05-27 11:12] gsmet commented on #1157
Interesting. That explains why I didn't see it in my GitHub App as I'm using the OkHttp connector.

[2021-05-27 11:25] #1155 closed

[2021-05-27 11:38] bitwiseman commented on #1080
@akashRindhe
If you put the text "Fixes #issue-number" in your PR it will automatically close the linked issue.

[2021-05-27 11:39] hcoles commented on #1157
Yes, looks like I can workaround this with OkHttp.

[2021-05-27 11:45] bitwiseman commented on #1157
@hcoles

😭🤦

Hm, so if I rerecorded the tests from #754 they would probably now fail.  The question is do we revert #754?

[2021-05-27 12:34] hcoles commented on #1157
Not directly relevant to this issue, but previously I tried calls out from Junit using a personal access token. This now fails when calling the checks api with a message saying I must authenticate as a github app.

Can anyone confirm that this is a behaviour change, or is my memory flakey? Also, is there an easy workaround?

[2021-05-27 12:41] gsmet commented on #1157
I think we need to make the correct client the automatic default. It can be done using a MR jar (but it's some infrastructure).

As for your issue with a PAT, you are providing it directly or using `~/.github`? If you provide it to the API, maybe GH has changed something on their side. I must admit that I develop GitHub Apps so I don't really know.

[2021-05-27 12:41] gsmet commented on #1157
BTW, if you end up having to develop a GitHub App, my pet project might be of interest to you: https://github.com/quarkiverse/quarkus-github-app .

[2021-05-27 21:53] bitwiseman commented on #1157
@hcoles
Okhttp also support caching which is generally huge improvement for rate limit usage.

[2021-06-01 14:35] aalmiray opened #1171 "Support creating discussions from releases"
A discussion may be linked to a release upon creation or update if a `discussion_category_name` field is set.

https://docs.github.com/en/rest/reference/repos#create-a-release requires POST
https://docs.github.com/en/rest/reference/repos#update-a-release requires PATCH

[2021-06-01 22:39] #1157 closed

[2021-06-01 22:40] bitwiseman commented on #754
Unfortunately, `HTTP-Method-Override` only works in **most** cases. It turns out some endpoints do not honor it.

[2021-06-01 23:13] #1156 closed

[2021-06-02 06:59] hcoles commented on #1156
@gsmet @bitwiseman Thanks for fixing this, do you know when it will be released?

[2021-06-02 23:12] bitwiseman commented on #1156
Done.

[2021-06-03 01:35] tedyoung commented on #576
I came across a need for this behavior, i.e., checking if a single user was already a Collaborator on a Repository, so I don't have to fetch the entire list each time (or deal with caching it).

It seems fairly straightforward to implement, as the API returns either a 204 (user is a collaborator) or 404 (they're not), and is similar to the `hasAssignee` code.

I can submit a pull request to implem

[2021-06-03 07:12] tied opened #1174 "Improvement: Include Forked repositories in GHRepositorySearchBuilder"
As a user of your library,
I want to use the GHRepositorySearchBuilder class to find my forked repositories
so that I'm able to automate fetch upstream.

#### Current implementation

The GHRepositorySearchBuilder has a **forks** method. But this is for searching for how many time a repository was forked and not if the repository itself is a fork.

#### Expected implementation

Add a fork method to

[2021-06-03 07:16] tied commented on #1174
That would be the required changes: https://github.com/tied/github-api/commit/af82b8bbe657e17e77597d1540ebca341486bd25

[2021-06-08 10:00] bartuss7 opened #1176 "Unable to getOrganization - data truncated"
I am not able to get organization details using enterprise connection:

github-api version: 1.130

My code:
[code]

Stack trace:
[code]

[2021-06-08 10:19] gsmet commented on #1176
Are you trying to use the GitHub API inside a native executable? Because I see the SVM classes in your stacktrace and it's typically the errors you would have.

If so, it won't work out of the box. You need to register a bunch of classes for reflection.

If by any chance you're using Quarkus, I created an extension for GitHub API here: https://github.com/quarkiverse/quarkus-github-api/ .

[2021-06-08 11:08] t0m4uk1991 opened #1177 "Issue rename event do not contains issue old name"
Steps to reproduce:

1. Create an issue:
[code]
2. Rename an issue
[code]

3. Check event and verify we do not have rename object with from/to fields:
[code]

According to the [docs](https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#renamed) renamed even contain rename object with from/to properties for previous/new names. Mappings for this fields were added in sco

[2021-06-08 13:15] bartuss7 commented on #1176
@gsmet
I are right. I am using quarkus native app.
Your extension fork excellent. Thank you very much.
I am closing the issue.

[2021-06-08 13:15] #1176 closed

[2021-06-09 04:27] yeikel opened #1178 "Regarding deprecated methods"
I am following this documentation :  https://github-api.kohsuke.org/githubappjwtauth.html

Which helped me to create the following snipped :

[code]

As you can see, most of my code here is marked as deprecated, so my guess is that you have newer apis that I should be using.

Could you please clarify what is the right usage? I was unable to find that out from the docs or the Java docs

As a side n

[2021-06-09 07:29] bitwiseman commented on #1178
We use deprecated to also indicate preview APIs.

[2021-06-09 08:59] gsmet commented on #1178
That's something I wanted to discuss for 2. I think it's an anti-pattern and we should avoid this. You end up either with a ton of warnings or you suppress deprecation warnings. And if you do the latter, that means you will miss real deprecations.

[2021-06-09 21:10] bitwiseman commented on #1178
@gsmet
Agreed. I hate the current design.

I'd like to have a way to clearly communicate to consumers of the library that these methods/classes are not covered by semver and may change at any time. On the other had, despite things being "preview" GitHub rarely makes breaking changes in them.  I definitely feel we're inconveniencing/confusing a lot of users for a minimal/edge case.

See #1003 and #

[2021-06-09 21:17] bitwiseman opened #1179 "Consumers of Preview APIs should have to explicitly enable the Previews they want"
Related #1017 #1003

Currently, we mark preview APIs as deprecated.  Instead we should require consumers to enable the specific Preview endpoints they want and by doing so they accept that those methods may change.

We can do this now.  In v1, we can log warnings the first time a Preview endpoint is used without being enabled, but otherwise do not change behavior.  For v2 we'll actually fail if a

[2021-06-09 21:21] bitwiseman commented on #1003
Edited - Instead of moving this information into JavaDoc, we should move it into code. See #1017 and #1179.  This is just to remove the `@Deprecated` annotations from everywhere they aren't needed.

[2021-06-09 21:26] bitwiseman commented on #852
We should keep keep the scenarios of #1143 in mind when implementing this.  Previews should be bindable to specific version ranges.

[2021-06-09 21:27] bitwiseman commented on #1143
@gadams00  We should definitely remove `@Deprecated`.  We plan to do that everywhere, see #1003 .
However, we don't want to remove the Preview yet, because we still need to support older versions of GitHub Enterprise where the endpoint is still in preview.

[2021-06-10 02:14] bitwiseman opened #1181 "Create a new implementation for issue events that aligns with webhook event design"
Found by #1175

Issue events are similar to webhook events: there are a set of common attributes and then different events types have different additional fields.

See:
* https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#issue-event-object-common-properties
* https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHEventPayload.java#L22-L24

[2021-06-10 05:06] AbdealiJK opened #1182 "401 Bad credentials errors coming up since yesterday"
**Describe the bug**
I have been using the ghprb plugins in our jenkins, and things have been working fine so far.
Since yesterday, I found that the once I create a PullRequest on github - the jenkins job was not starting.

On checking the logs, I am getting errors for the following URLs:
[code]
The error is:
[code]

Things I have checked:
 - Jenkins is receiving the webhooks correctly for ghprb,

[2021-06-10 15:08] bitwiseman commented on #1182
@AbdealiJK
Did you change anything in your Jenkins config?  Or did this just start happening with no local changes.

[2021-06-10 15:16] bitwiseman commented on #1178
@yeikel

That would be a separate bug.  Please file it separately.

[2021-06-14 17:55] Katsute commented on #924
Closed in #1183

[2021-06-14 17:55] #924 closed

[2021-06-14 20:18] #1171 closed

[2021-06-15 20:01] #1003 closed

[2021-06-21 11:48] the-redback opened #1186 "Get non-PullRequest issues"
Hi,

Thanks for this awesome tool. I am quite enjoying working on it.

Just wanted to know, is there any way to get only issues without getting pull requests? When I am requesting getIssue(), I am getting all the pull requests inside the response which can lead to rate limiting.

Thanks

[2021-06-21 17:11] bitwiseman commented on #1186
Could you give an example of the code you are running?

[2021-06-21 22:14] bitwiseman commented on #1177
@t0m4uk1991 So, this is fixed now right?

[2021-06-23 14:21] #1177 closed

[2021-06-23 16:30] t0m4uk1991 commented on #626
@bitwiseman  Looks like the issue was fixed in the scope of https://github.com/hub4j/github-api/commit/59e0046c1eebfef2f0d7abf800c7411475612d9c

[2021-06-24 16:36] the-redback commented on #1186
I am using the following line to get the list.

[code]

[2021-06-24 20:12] t0m4uk1991 commented on #486
@bitwiseman @LenGillespie

I'm not sure GHPullRequestFileDetail should know about the commit hash, it should just represent the file that was changed in the scope of PR. Looks like we can get hash from the pull request object.

Here is the small test in java:
`package org.kohsuke.github;

import java.io.IOException;

public class SimpleTest {
    public static void main(String[] args) throws IOExc

[2021-06-24 21:10] bitwiseman commented on #486
@t0m4uk1991
The problem being reported is that `file.getSha()` returns the SHA-1 of the file, not the SHA-1 for the commit.

The example from the docs for [GitHub API for files in a PR](https://docs.github.com/en/rest/reference/pulls#list-pull-requests-files) makes it clear this is expected behavior:

[code]

The `raw_url` shows the commit sha while `sha` is different. If there is a change here it

[2021-06-28 20:01] #486 closed

[2021-06-28 21:16] bitwiseman commented on #1186
See #1025.  This is a missing feature.

[2021-06-28 21:16] #1186 closed

[2021-06-28 21:24] bitwiseman opened #1191 "Fix GHContentUpdatedResponse to return GitCommit instead of GHCommit"
In #1185, @takezoe discovered that the date returned for `GHContentUpdatedResponse.commit` does not match up with `GHCommit`.  It most closely matches `GHCommit.ShortInfo` but even that is not truly accurate.

In #1190 , I figured out that while this a bad the functionality is not completely broken. The `sha` and the `url` match up and that is enough for the `GHCommit` to populate the missing data

[2021-07-09 09:02] #1174 closed

[2021-07-11 08:43] YasharHND opened #1197 "Search API not supporting "page" parameter."
Hi, thanks for providing the GitHub API client; it has been a great help for us.

But there's an issue we have with the `searchIssues()`:
How can we query the search API by passing the `page` and `per_page` making sure that the client only fetches those addressed items?

For example, we need something like this:
[code]
- Please note that **atPage** is not supported at the moment.
- Also, we don't

[2021-07-19 16:12] siaminator opened #1198 "Issue Events API does not include the `requestedReviewer`"
**Describe the bug**
An issue event can be of many types, one of which is `REVIEW_REQUESTED`, in which case the event object in the API response would contains a field called `review_requester` which is user who has been requested to review this PR.
Unfortunately this field has been missed in the `GHIssueEvent` class.

**To Reproduce**
Github API
`GET /repos/{owner}/{repo}/issues/{issue_number}/ev

[2021-07-19 23:56] bitwiseman commented on #829
Here's an example in a test for creating a branch:

* Create a commit
* Create a ref for that commit under `refs/heads`

https://github.com/hub4j/github-api/blob/f6e8a2c7c604274e0dad5deeb33380320d82d8a2/src/test/java/org/kohsuke/github/GHBranchTest.java#L42-L45

Creating a pull request for a branch:

https://github.com/hub4j/github-api/blob/f6e8a2c7c604274e0dad5deeb33380320d82d8a2/src/test/java/or

[2021-07-21 15:28] ahoglund commented on #836
👋🏼 from the GitHub API Team.  Just to confirm, is the API endpoint in question the one getting called from here?

https://github.com/hub4j/github-api/blob/9978678f276619e2bf81e6542a596e74ce1dc0cc/src/main/java/org/kohsuke/github/GHIssue.java#L374-L380

If so that I think that would correspond to the https://docs.github.com/en/rest/reference/issues#add-labels-to-an-issue endpoint. Just wanted to co

[2021-07-21 15:40] blacelle commented on #836
@ahoglund You pinpointed the API used for the workaround, but the faulty API is the API used to create a ticket: labels are not properly applied during creation, hence the workaround is to apply labels once the ticket created.

[2021-07-21 15:47] gsmet commented on #836
Yeah, the problem is here: https://docs.github.com/en/rest/reference/issues#create-an-issue .

The doc says:

So it's properly documented but this limitation should be lifted to allow users with the triage permission to do the same.

[2021-07-22 19:58] bitwiseman commented on #1197
Yes, we do not currently support starting at a specific page.  To iterate over items, you can use the `iterator()`, which will handle fetching pages as needed.  You can also iterate over pages using the iterator's `nextPage()` method:

https://github.com/hub4j/github-api/blob/7a4af15329a71f44a46f7b4277f162ebcc1020dd/src/main/java/org/kohsuke/github/PagedIterator.java#L120

[code]

Are you wanting

[2021-07-25 07:42] YasharHND commented on #1197
Yes, for performance reasons, we only want to see items on a specific page without having to fetch items from previous pages.
It can be part of #348.

[2021-07-26 19:17] #1198 closed

[2021-07-26 21:48] bitwiseman commented on #348
See #1197
Other users would like a method that returns an iterator that only returns results for a specific page range: `pageRange(start, end)`.  Results would be returned only within that page range.

I'm thinking the following methods:
`startAtPage(long)`
`endAfterPage(long)`
`pageRange(long, long)`

[2021-07-26 21:48] #1197 closed

[2021-07-26 21:49] bitwiseman commented on #1197
I'll close this in favor of #348.  @YasharHND would you be interested in implementing this?

[2021-07-27 11:19] YasharHND commented on #1197
Normally I'd love to, but I'm in a time-consuming relocation process and have a very tight schedule.

[2021-07-28 13:04] ravingbool opened #1200 "Support of Compare REST API"
Hello folks, is that API supported by the lib?
https://github.blog/changelog/2021-03-22-compare-rest-api-now-supports-pagination/

Best regards and thanks, Max

[2021-07-28 13:35] #1200 closed

[2021-07-30 15:31] t0m4uk1991 commented on #497
@bitwiseman Looks like the bug already fixed and covered with [unit test](https://github.com/hub4j/github-api/blob/7a0f2fefd4f127aa004a492261521b983543cfd7/src/test/java/org/kohsuke/github/AppTest.java#L890)

Also, I wrote a [bug specific](https://github.com/hub4j/github-api/pull/1201) test (issue search in repo).

[2021-07-30 15:53] bitwiseman commented on #497
You're correct, closing this issue.

[2021-07-30 15:53] #497 closed

[2021-07-30 15:55] bitwiseman commented on #497
Fixed by #709

[2021-07-31 14:49] spnda opened #1202 "GitHubHttpUrlConnectionClient uses forbidden behavior in JDK 16+"
**Describe the bug**
Using `GHReleaseUpdater#update` and JDK 16.0.1, following exception is thrown:
[code]

**To Reproduce**
Steps to reproduce the behavior:
I used this small Kotlin snippet to execute the code, while using JDK 16:
[code]

**Expected behavior**
The release should be updated.

**Additional context**
This happens in a GitHub Action environment using the `adoptopenjdk:16-jdk` contain

[2021-07-31 15:07] gsmet commented on #1202
For now, you can use the OkHttp connector:

[code]

[2021-08-02 00:32] bitwiseman commented on #1202
See #1164.

[2021-08-02 18:32] ravingbool opened #1209 "GHCompare - support parameters "per_page" and "page""
Hello, does it in the roadmaps to support those parameters?
Github changed the Compare two Commits API, so now it is possible to get over 250 commits:
https://github.blog/changelog/2021-03-22-compare-rest-api-now-supports-pagination/

Best regards, Max

[2021-08-28 09:21] #878 closed

[2021-08-30 11:31] Osiris-Team opened #1217 "Issues for tree in commit"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
Create commit without exception and push it to the repo.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome
 - Version latest

[2021-08-30 16:54] Osiris-Team commented on #1217
Fixed by removing the full files paths and instead giving the relative path from the github dir.

[2021-08-30 18:45] markwoon opened #1218 "NPE when updating comment in issue"
I'm getting an NPE when trying to update a comment in an issue:

[code]

The NPE is because `owner.getRepository()` is returning null.

I can update the issue's body just fine, but cannot update issue comments.

This is with 1.132.

[2021-08-30 20:15] bitwiseman commented on #1209
For reference: https://docs.github.com/en/rest/reference/repos#compare-two-commits says

This means that https://api.github.com/repos/hub4j/github-api/compare/github-api-1.100...github-api-1.131?per_page=5&page=1 looks like:

[code]

And https://api.github.com/repos/hub4j/github-api/compare/github-api-1.100...github-api-1.131?per_page=5&page=2 looks like:

[code]

This is a very odd behavior.

All

[2021-08-30 20:32] bitwiseman commented on #1218
@markwoon  What method are you using to get the `GHIssueComment` that is throwing?

[2021-08-30 22:39] markwoon commented on #1218
Something along the lines of:

[code]

[2021-09-02 15:32] bitwiseman commented on #1218
Thought it was something like that.

This doesn't set the `owner` on `GHIssue`:

https://github.com/hub4j/github-api/blob/4247c8a60d809994836d67fe6ce3ad4d5d115406/src/main/java/org/kohsuke/github/GHIssueSearchBuilder.java#L106-L110

There's several things that should be fixed here:
* `GHIssueComment.getApiRoute()` should call `GHIssue.getIssuesApiRoute()` instead of building itself [`GHIssue.getIs

[2021-09-06 01:09] bitwiseman opened #1229 "Maven site failing in CI, passing in local build"
For some reason, `maven site` began failing after [](url).  I tried reverting to a state before that change but it made not difference. I'm not sure why `maven site` began failing but it is not vital that it works right now.  This needs to be fixed eventually to ensure `site` works at release time.

Revert https://github.com/hub4j/github-api/commit/e317813ba16a14da7b79575ff6caf22a7d80ee26 and run

[2021-09-07 00:50] #1209 closed

[2021-09-11 14:02] MukherjeeRajdeep commented on #1097
Is this issue still exist ?
I can have a look if it is, please let me know :)

[2021-09-15 16:24] JLLeitschuh commented on #1097
I haven't tried looking into this code in a while, I presume it still does though

[2021-09-15 16:45] JLLeitschuh commented on #1097
I can confirm, this bug still exists in `1.133`. There were recent changes in the code regarding "root streamlining". Maybe this has been fixed as a part of that. Unfortunately, the `1.133` release was 7 days ago, and the "root streamlining" changes were made 6 days ago. There's no easy way for me to test this until another release is published.

[2021-09-16 08:51] bitwiseman commented on #1097
It is still there.  `root` streamlining did not fix this.  @JLLeitschuh  Great analysis.  Thanks.

[2021-09-19 12:30] lennybakkalian opened #1231 "Feature request - Delete webhook via id"
Currently there is no implementation to delete webhooks via the id

[2021-09-19 23:07] bitwiseman commented on #1231
Is there an endpoint for this in the REST API?

[2021-09-20 09:08] lennybakkalian commented on #1231
There is an endpoint for this https://docs.github.com/en/rest/reference/repos#delete-a-repository-webhook

[2021-09-20 20:53] JLLeitschuh commented on #1097
Thanks @bitwiseman. I've looked at the code a few times and I haven't yet seen a good way to fix this bug. Since requesting the issue resource is not routed through the repository object, an explicit request for the repository resource is required to get the desired object. I'm not certain where that logic should occur, nor am I certain what needs to happen to make that request correctly.

[2021-09-21 17:00] tynutsu opened #1232 "open your objects for extension"
this is a very weird model which has business logic coupled with pojo, setters should not actually perform the github rest calls, instead a dedicated service should do that.

while i understand is a lot work to re-model, what you could do at least is to allow the classes in the library to be further extended, so they should not be sealed or marked as final.

[2021-09-21 22:39] philippebailer opened #1234 "GHEvent is missing new events that is breaking Jenkins plugin usage"
**Describe the bug**
Getting error:
[code]

When trying to connect to github app from jenkins.

**To Reproduce**
1. Set up Jenkins Github App
2. No event subscriptions are needed as this occurs even when nothing is selected
3. Start creating a new Github App Credential in jenkins
4. Once all the fields are set hit `Test` to test the connection
5. It should fail with the above error

**Expected beh

[2021-09-22 18:05] philippebailer commented on #1234
It seems that release https://github.com/hub4j/github-api/releases/tag/github-api-1.128 may have actually introduce UNKNOWN GHEvent enum handling but the jenkins github-api-plugin is at version 122

My PR might not be needed if release 1.128 was meant to resolve this issue

[2021-09-22 18:29] philippebailer commented on #1234
@bitwiseman considering the above I'm not sure what I need to be doing to resolve this issue.

What is the process for releasing the jenkins github-api-plugin (https://github.com/jenkinsci/github-api-plugin)?
Is this something that can be done quickly or do you have any other trouble shooting suggestions?

[2021-09-22 19:23] philippebailer commented on #1234
Ok that's great hopefully this resolves our issue.

I'll keep an eye on this and test it as soon as its live.

Thanks @bitwiseman

[2021-09-23 17:46] philippebailer commented on #1234
@bitwiseman saw that the PR was merged, is the release in progress? I don't see a new tag yet in https://github.com/jenkinsci/github-api-plugin

[2021-09-23 18:40] bitwiseman commented on #1234
I'm on leave right now, working on this in my spare time (from my phone right now). I'll get to it today.

[2021-09-23 19:04] philippebailer commented on #1234
Sorry for the trouble and thank you for keeping an eye on this

[2021-09-24 06:02] #1234 closed

[2021-09-24 06:34] bitwiseman commented on #1232
@tynutsu
I agree that having getters and setters making direct calls can be quite confusing - which getters retrieve a local field vs which make rest calls. The same for setters.  Changing this would be a large undertaking, basically reimplementing most of the library with cleaned up methods and design.

By separate service, you mean another class that you pass the objects to and that class makes

[2021-09-24 06:35] #1231 closed

[2021-09-24 06:37] bitwiseman commented on #1234
I've released github-api-plugin 1.133. That should unblock you.
I've also merged your PR.  It will be in 1.134 .  Thanks for contributing!

[2021-09-24 06:40] bitwiseman commented on #1217
I'd like to keep this open as a documentation bug.  Perhaps we should add something to the JavaDoc.

[2021-09-24 07:52] tynutsu commented on #1232
Changing access modifier would allow adding wrappers around your models and further extension with real getter and setter functionality.
I use this library to chain commands and setup repositories with since configurable default settings (create org/repo, initialize repo, set merge strategy, create team, bind team to repo, create branch, setup default branch policies, etc.)
I also think it would b

[2021-09-24 13:47] philippebailer commented on #1234
Yes its working and we are unblocked! Thanks @bitwiseman for helping us get through this quickly and closing my PR

[2021-09-26 06:50] bitwiseman commented on #1097
@JLLeitschuh
Here's the getContent() method:
https://github.com/hub4j/github-api/blob/2dc736ab2135bc200903f4bae887ac137c9cfc13/src/main/java/org/kohsuke/github/GHProjectCard.java#L124-L136

`GHPullRequest` extends `GHIssue` so the we only need to change `GHIssue.getRepository()`.
https://github.com/hub4j/github-api/blob/2dc736ab2135bc200903f4bae887ac137c9cfc13/src/main/java/org/kohsuke/github/GHIs

[2021-09-26 20:52] bitwiseman commented on #833
This may not be feasible. There are a number of scenarios where we need to depend on `url` and when it is incorrect or strange we simply need to work-around it.   We should add comments to the JavaDoc for `getUrl()` describing the difficulties and ways to work around it.

[2021-09-26 20:59] bitwiseman commented on #728
Fixed by #1087

[2021-09-26 20:59] #728 closed

[2021-09-28 05:06] matusfaro opened #1243 "Missing GHIssueCommentChanges"
Missing `GHIssueCommentChanges` similar to [`GHIssueChanges`](https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHIssueChanges.java) as per [`issues_comment`](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#issue_comment) GitHub API.

Thanks!

[2021-09-28 20:23] Typraeurion opened #1244 "List workflow runs"
**Feature request**
The GHWorkflow object ought to support listing runs for a workflow, with optional filters.  As the library is currently implemented, I’m having to list all runs for the whole repository and filter runs by workflow which is painfully slow when all I need is the most recent run for a specific workflow.

**Current Implementation**
This is how I have to implement my code currently:

[2021-09-29 09:49] matusfaro commented on #1082
I ran into this same issue. My goal is simple: a GitHub app to list all its installations and their repositories.

It should be as easy as:
[code]
But this not possible since `getApp` requires app-authorized client, whereas `listRepositories` requires installation-authorized client.

If I get an installation-authorized client, we get an instance of `GitHub`. As far as I can tell there is no way to

[2021-09-29 10:19] tginiotis-at-work commented on #1082
Right, so some means of exchanging an authorization provider on an existing client-using-object (specifically `GHApp`)  would be needed to achieve this.

I.e.: one authorization is needed to get a `GHApp` object, another authorization is needed to actually use the methods on the `GHApp`, so it needs to be exchanged somehow.

[2021-09-29 10:22] matusfaro commented on #1082
This is not in any way a proper solution, but a workaround I am just about to roll out and test is to re-introduce the `setRoot` method via package private utility class:
[code]
And the usage would be:
[code]

[2021-09-29 13:00] jeskosda opened #1245 "Provide Auto Merge information in pull request?"
Hey all ✋🏻 ,

unfortunately, it's not possible to enable the auto merge via the https://docs.github.com/en/rest/reference/pulls API.
But for a current project, I need at least the auto merge information about a `GHPullRequest`.

I prepared a suggestion, but since it would be my first contribution, I just want to hear your opinion about  adding the information to the `GHPullRequest`. I made a sugge

[2021-09-29 14:31] mxandeco commented on #1232
The "rich domain" is quite useful when implementing Webhooks, when for example handling a pull_request opened call, it's much cleaner and straightforward  to be able to call `getPullRequest().addLabel()` instead of having to inject a different service object to perform the task.

Even though if standalone pojos and services are to be created, keeping the current models, especially for the events w

[2021-09-29 14:33] mxandeco opened #1246 "Provide create dispatch event api on GHRepository."
Feature request

The `GHRepository` is not exposing a the create dispatch event api the moment.

https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event

I have the changes ready to submit a pr, but I can't find the way to ask for access on the test organization to record the wiremock files, I have generated with my own account, but I need access to generate the proper t

[2021-09-29 16:14] tynutsu commented on #1232
Although I totally disagree even with combining 2 services' business logic, since it's against Single Responsibility Principle (LabelService and PullRequestService), this is why I asked to open them for extension, to not break existing users implementation.

[2021-09-29 17:41] bitwiseman commented on #1245
Where did you find the details of the json information returned for `auto_merge`?  Via the API or is it documented somewhere?

[2021-09-29 17:42] bitwiseman commented on #1245
That commit looks pretty good.  I provided some feedback/questions.

[2021-09-29 17:44] bitwiseman commented on #1244
Does https://github.com/hub4j/github-api/pull/1240 address your needs?

[2021-09-29 17:47] bitwiseman commented on #1246
Sent an invitation.  Please submit the PR.

[2021-09-29 18:02] Typraeurion commented on #1244
Oh, yes!  Strange that issue didn’t show up when I searched for this title.  Thank you.

[2021-09-29 18:02] #1244 closed

[2021-09-29 18:16] bitwiseman commented on #1232
@tynutsu

Perhaps I'm not understanding... I don't seen that many `final class` declarations.  Changing those would be fine with me.

There are a bunch of `package-private` and those are generally intentionally so, but I'd be open to looking at changing those to `public` on a case-by-case basis.  Which classes in particular are you talking about?

Perhaps you could file a issues for specific thing

[2021-09-29 19:45] tynutsu commented on #1232
The main classes i care about are GHOrganization, GHRepository, GHBranch, GHTeam so far (I'm enumerating this by heart).
But the lib lacks enterprise api (ability to create org, delete org, set up enterprise permissions, etc.) and probably the gitHub client itself.
Also can't find a simple way to send a request to a custom url not covered by the library (/v3/api/gitignore/templates, /v3/api/admin/

[2021-09-30 06:22] #1025 closed

[2021-09-30 06:52] jeskosda commented on #1245
Thanks! I checked that via the OpenAPI definition, but double-checked this with a request against the API.

[code]

Thanks for the feedback, I'll create a PR with the suggested changes!

[2021-10-01 08:13] mxandeco commented on #1246
changes submitted on https://github.com/hub4j/github-api/pull/1248

[2021-10-03 13:13] JLLeitschuh opened #1261 "Access to hub4j-test-org for writing tests"
Can I get access to the `hub4j-test-org` organization to write/run tests against?

[2021-10-04 18:44] bitwiseman commented on #1261
Invitation sent.

[2021-10-04 18:44] #1261 closed

[2021-10-04 19:19] Typraeurion opened #1262 "ObsoleteUrlFactory overrides OkHttpClient’s interceptors"
**Describe the bug**
I’ve been troubleshooting why my custom network interceptor that I added to the OkHttpClient was never called.  After tracing through the code, I found that ObsoleteUrlFactory.buildCall is explicitly _removing_ all interceptors set on the OkHttpClient and adding its own:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Application display

[2021-10-04 19:26] bitwiseman opened #1263 "Consider how to use OpenAPI information to improve testing and verification"
See https://github.com/github/rest-api-description

[2021-10-04 19:31] bitwiseman commented on #1262
Generally speaking, this is a known limitation of `ObsoleteUrlFactory`. This is another reason we need to implement #1085 so we can stop using the deprecated/obsolete code path.

[2021-10-05 09:07] mxandeco commented on #1246
@bitwiseman is there an estimation for a release with those changes? waiting on that for some feature we are building.
thanks very much.

[2021-10-05 09:28] bitwiseman commented on #1246
Within the week.

[2021-10-05 09:28] #1246 closed

[2021-10-05 09:29] #1245 closed

[2021-10-05 12:56] bbaga commented on #1082
Hello,
I just wanted to say I've been pulling my hair out to make this work somehow, any sort of fix (or advice) would be much appreciated since I couldn't figure out any way to list the repositories for an installation using this library.

[2021-10-05 13:44] bbaga commented on #1082
👋 @matusfaro
Have you had any luck with your workaround? I tried to incorporate it into the app I'm playing with, but I keep seeing bad credential errors even after the `root` switcheroo.
`Server returned HTTP response code: 401 for URL: https://api.github.com/installation/repositories`

[2021-10-06 03:06] matusfaro commented on #1082
@bbaga If you give me more information on what you're doing, maybe I can help.

It's important how you authenticate, I ended up authenticating as OAuth user to get list of App installations and then `setRoot` and authenticate as that specific App installation to `listRepositories`. See the [code here](https://github.com/clearflask/clearflask/blob/master/clearflask-server/src/main/java/com/smotana/

[2021-10-10 20:56] bitwiseman opened #1264 "Cleanup GitHub Connection, Client, Request, Response to prepare for making them public"

[2021-10-15 17:16] Typraeurion opened #1265 "GHWorkflow.dispatch does not throw an exception on a 422 HTTP status"
**Describe the bug**
I’ve been tracing the code to see why my application apparently succeeds in sending a workflow dispatch request yet the workflow never starts.  Eventually I found that after sending a POST request to /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches (no body, because I had passed `null` as the ref), GitHub responds with error 422 Unprocessable Entity.  GitHubCli

[2021-10-20 07:04] balajikadambi opened #1266 "Creation of submodules within a repo"
Is there an API to create sub modules within a repository? Any help to handle this programmatically is appreciated.
Thanks for your help!

Regards,
Balaji

[2021-10-20 16:23] Typraeurion opened #1267 "GHFileNotFoundException is thrown for any HTTP 4xx or 5xx error"
**Describe the bug**
ObsoleteUrlFactory.getInputStream() throws FileNotFoundException regardless of the type of client-side or server-side error response from an HTTP request.  GitHubClient.interpretApiError(IOException, GitHubRequest, ResponseInfo) then _assumes_ this exception is due to a 404 response and wraps that exception in a GHFileNotFoundException.  This makes in impossible for the caller

[2021-10-21 17:03] bitwiseman commented on #1218
This is what #1260 implemented. Released in v1.135.
I think that fixes this issue. @markwoon  Can you check this?

[2021-10-22 00:41] markwoon commented on #1218
Confirming fixed for my use case in v1.135!

[2021-10-22 00:41] #1218 closed

[2021-10-29 19:51] jfbibeau opened #1269 "`GHDeploymentState` still contains reference to @deprecated javadoc after annotation cleanup"
**Describe the bug**
PR #1184 cleaned up the `@Deprecated` annotations for Preview APIs which is great! However, for `GHDeploymentState`, the `@deprecated` javadoc wasn't removed, see here:

https://github.com/hub4j/github-api/pull/1184/files#diff-e41ba41aaa25735d01eb4efdd7ce10f1cf5c9bfc986a503579a94386ca3744a6R17

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest version of this

[2021-11-01 16:58] EasyG0ing1 opened #1278 "Cannot create new Gist File"
So far, I've been able to do the following:

Authenticate with a user token.

[code]
Once authenticated I've been able to...

Pull list of users gists:
[code]

Create NEW Gists with a file included:
[code]

Delete Gists:
[code]

Get a list of files within a given gist:
[code]

Though I cannot get the contents of a file this way, I have to pull the files' URL and then get the contents of the file l

[2021-11-01 17:19] bitwiseman opened #1279 "GHGist does not handle file truncation"
https://docs.github.com/en/rest/reference/gists#truncation points out that file contents are truncated after one megabyte.
This situation is not handled.

[2021-11-01 17:24] bitwiseman commented on #1278
Adding a file, there is a test example here:
https://github.com/hub4j/github-api/blob/8be38fcdad8d02636c6067578ee511aaf6adb205/src/test/java/org/kohsuke/github/GHGistTest.java#L44

I can see that the `updated().someactions().update()` syntax is confusing, but it should work.

[2021-11-01 17:29] bitwiseman commented on #1278
It is strange that you cannot get the file contents using `gist.getFiles()` or even `gist.getFile(name)`.  Does this test look like what you are doing? If not, how does it differ?

https://github.com/hub4j/github-api/blob/8be38fcdad8d02636c6067578ee511aaf6adb205/src/test/java/org/kohsuke/github/GHGistTest.java#L130-L143

[2021-11-01 17:48] EasyG0ing1 commented on #1278
@bitwiseman

Thank you for responding.

On your last question ... take this code for example:

[code]

Here is the output from just one of the loops:

[code]

Notice the content is always null ...

[2021-11-01 18:03] EasyG0ing1 commented on #1278
@bitwiseman

When I ran this code:

[code]

I got this error and IntelliJ sent the cursor to the .update() statement at the end of the sentence:

[code]

[2021-11-01 18:47] EasyG0ing1 commented on #1278
@bitwiseman

OK, so this is interesting ... when I created a new gist with an included new test file with the library, I am able to access the file contents just using file.getContent() ... but the gists that I have had in there for a long time cannot be retrieved using the same method.

I'm thinking there's a reason for that ...???

[2021-11-01 18:49] bitwiseman commented on #1278
`org.kohsuke.github.GHIOException: Failed to set the custom verb` - Java 16+ issue: #1202

[2021-11-01 19:14] EasyG0ing1 commented on #1278
@bitwiseman

Implementing the OKHttp connector into the instantiation of the GitHub class fixed my ability to get to those files, and I'm going to assume that it will fix everything else. I'll change the code in those places and let you know ...

One thing about building the object using GitHubBuilder is that I can't seem to get myself out of the final object ...

This code:
[code]
Throws this err

[2021-11-01 19:41] EasyG0ing1 commented on #1278
@bitwiseman

That did the trick ... this was all it took to fix everything:
[code]

Thank you ... not sure if you have this pull or not, but it might be a good idea to explicitly state [on this page](https://github-api.kohsuke.org/) that the OKHttp connector should always be used in the build statement.

I realize there is a comment about OKHttp at the bottom of the page, but there was certainly n

[2021-11-01 20:07] bitwiseman commented on #1278
Okhttp is just an option. It is not required.
Perhaps the error thrown when using Java 17 should be more verbose about options for mitigating the problem.

[2021-11-02 17:26] ReyhanPatria commented on #1269
Hi! I assume the preview feature is stable now, so it's simply removing the deprecated annotation, I'd like to work on this as it would be a simple enough task for my first issue. Thanks!

[2021-11-02 17:27] jfbibeau commented on #1269
To be clear, the `@Deprecated` annotation is already removed, since the goal of #1184 was to remove them as they were a confusing way to refer to Preview features. However the javadoc remains and needs to be removed. This would be a great first issue!

[2021-11-02 17:30] ReyhanPatria commented on #1269
Yes, so I'll removing the `@deprecated` from the javadoc, correct?

[2021-11-02 17:31] jfbibeau commented on #1269
Yup!

[2021-11-02 17:32] ReyhanPatria commented on #1269
Okay, I'll work on this ASAP.

[2021-11-02 17:53] ReyhanPatria commented on #1269
I'm having trouble cloning the repo, git is showing errors with the filename being too long and unable to create it. Can you help me with that?

[2021-11-03 01:51] EasyG0ing1 commented on #1278
@bitwiseman - You certainly won't get any arguments from me on that statement!

[2021-11-03 15:01] EasyG0ing1 commented on #1278
I would like to add, that even when using the OKHttp connector to create a GitHub object, when I get a list of all Gists using this method:
[code]
Then interrogate that list and get the contents of each file within the each Gist, the contents come back null. I have to first get a list of all the GistId's like this:
[code]
Then iterate through the list of IDs and get each Gist like this:
[code]
Doi

[2021-11-04 09:24] ReyhanPatria commented on #1243
Hi! I'd like to work on this if you'd assign me to it @bitwiseman, thanks!

[2021-11-05 01:11] sahansera commented on #771
Hi @bitwiseman I had a look into this issue and found that this might not be the case anymore. However, I investigated a bit further and I observed the following behaviours during my initial tests.

1. `User A` requests a PR review from a `User B`. `User B` gets deleted. GitHub removes the requested reviewer from the PR.
    - If we do a `pr.getRequestedReviewers()` on the PR the list that gets re

[2021-11-05 01:17] sahansera commented on #1154
Hey @bitwiseman, I would like to look into this issue as well. Could you assign it to me? Thank you!

[2021-11-05 22:51] Typraeurion opened #1288 "GHEvents enum is missing workflow_job"
**Describe the bug**
I’m trying to set up a webhook for a GitHub application which responds to the following events: create, delete, github_app_authorization, ping, workflow_dispatch, workflow_job, and workflow_run.  However, the code failed when it tried to find the GHEvent enum value for “workflow_job”.  I don’t know exactly what the difference between a “job” and a “run” is, but I can’t very we

[2021-11-07 01:46] sahansera commented on #1154
I had a closer look at the issue and I believe we are talking about 2 facets in here - i.e. Repository search and Code search.

1. **Repository search** `(type=Repositories)`
I was able to figure out a way to handle the use case explained by @maxandersen by using the `searchRepositories()` method.

[code]

This will output the following:

[code]
which matches with

2. **Code search** `(type=Code)`

[2021-11-07 18:53] willtsai commented on #1243
Hello! Full disclosure here: I'm working on this issue as well for my Software Engineering course project, so even if my eventual code changes become redundant, I can at least provide additional perspective on implementing this feature.

Thanks,
-Will

[2021-11-08 23:04] bitwiseman opened #1291 "Consider relaxing the requirements for JavaDoc in the project"
Per discussion with @nedtwigg in #1290 , it might make sense to turn down the warning/linting level for javadoc in the project.

and

and

[2021-11-09 23:12] sahansera commented on #771
@bitwiseman

Thanks again for assigning me this task and adding me to the test org.

I initially went down the path trying to create a PR then assign/remove reviewers. However, it's going to be tricky since we can't assign a non-existing user to a PR programmatically. What I would suggest is, we create two PRs in the `hub4j-test-org` to simulate the above two scenarios and use their Ids in the uni

[2021-11-10 00:19] bitwiseman commented on #1288
Easy to fix. PR welcome.

[2021-11-10 00:29] bitwiseman commented on #1264
Addressed by #1290 .  Rather than making all of those classes public we added `GitHubConnector` interface and related interfaces and classes.

[2021-11-10 00:29] #1264 closed

[2021-11-10 00:38] bitwiseman commented on #151
Closed by #1290.
Switch to `OkHttpGitHubConnector` to avoid `ObsoleteUrlFactory` and have full interceptor behavior.

[2021-11-10 00:38] #151 closed

[2021-11-10 00:41] bitwiseman commented on #1262
@Typraeurion
We won't be fixing this in `ObsoleteUrlFactory`, in the next release (code already merged to `main`) we've added `OkHttpGitHubConnector` which does not depend on `ObsoleteUrlFactory` allowing for use of interceptors.

[2021-11-10 00:41] #1262 closed

[2021-11-10 15:14] yolch-yolchyan opened #1292 "Can't find API for managing Secrets"
I was wondering if there is an API to manage GitHub repo secrets?
`/repos/{owner}/{repo}/actions/secrets/{secret_name}`

If we have one developed, could you please point me out how to use it?

[2021-11-10 20:05] Typraeurion commented on #1244
I see that GHWorkflow.listRuns was added in version 1.135.  However, this doesn’t seem to support query parameters like GHRepository.queryWorkflowRuns does.  Are there plans to support something like GHWorkflow.queryRuns?

[2021-11-10 21:55] bitwiseman commented on #1292
Documentation for Secrets REST API:
https://docs.github.com/en/rest/reference/actions#secrets

This has not been implemented yet.

This seems like a rather large endpoint. It is too big to implement the whole thing as your first PR.  I would suggest creating a class with just read or maybe basic CRUD to start with.

[2021-11-11 07:38] bitwiseman commented on #1244
@Typraeurion
File an issue.  PRs welcome.

[2021-11-16 10:35] gjabouley-invn opened #1297 "GHEvent enum is missing branch_protection_rule"
**Describe the bug**
We are seeing this issue when Jenkins is receiving a **branch_protection_rule** webhook event, which is rejected with error "Error 400 Hook should contain event type"
Drilling down to [this piece of code](https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHEvent.java#L12), seems branch_protection_rule is missing from GHEvents enum.

**Expected beha

[2021-11-16 19:13] gsmet commented on #1297
So yes, you need to add the entry to GHEvent and update the test here: https://github.com/hub4j/github-api/blob/main/src/test/java/org/kohsuke/github/EnumTest.java#L31 .

Ideally, you could also implement the payload here: https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHEventPayload.java so that we have everything needed to handle the event in Java.

[2021-11-17 21:07] km2018 commented on #1024
\assign

[2021-11-19 10:04] dginelli opened #1302 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-19 11:01] gsmet commented on #1302
Hi,

Not talking for the project as I'm just a contributor but I think the first step would probably be to point us to a report where we can see what it does in real life?

[2021-11-19 11:31] dginelli commented on #1302
Hi @gsmet,

Thank you for your answer. You can see an example of review comments generated by flacocobot on [this pull request](https://github.com/dginelli/failingProject/pull/14).

Basically, when flacocobot finds a pull request that fails due to a test case, it clones the project in order to reproduce the failure in a Docker environment.

After that, it starts the fault localization using [Flaco

[2021-11-19 11:48] dginelli commented on #1302
Let me know if you need other details! :-)

[2021-11-19 18:40] EasyG0ing1 opened #1303 "Enhancement Request: Change Gist Public State"
There seems to be no way of toggling the state of a Gist object between private and public. The only way it can be done is to first copy the Gist object and all of the files within it locally, then delete the Gist entirely then create a new Gist as either public or private, then re-create every file from the local copy.

It would be convenient to be able to make this call to the API and simply tog

[2021-11-19 19:13] EasyG0ing1 commented on #1303
As I was working on my code, It occurred to me that changing the public state of a Gist might have unwanted consequences if a public Gist has been forked. I'm not entirely sure how that would manifest if a forked public Gist suddenly had its state changed to private. If it would break those forks, then it obviously makes sense that a public Gist should never have the option of being changed to pri

[2021-11-19 19:21] gsmet commented on #1303
This library depends on the availability of the feature in the GitHub REST API.

I have seen no such thing as the ability to change the visibility of Gists here: https://docs.github.com/en/rest/reference/gists but I haven't looked too hard :).

[2021-11-20 04:14] bitwiseman opened #1305 "Re-enable WorkflowRun tests for HttpClient"
The following tests were failing for `HttpClientGitHubConnector`.  It is unclear why they would fail.  They need to be analyzed to determine if they represent real failures.

https://github.com/hub4j/github-api/blob/e403ce40c3361a5492e14f9a57c530366a178418/src/test/java/org/kohsuke/github/GHWorkflowRunTest.java#L204-L206

https://github.com/hub4j/github-api/blob/e403ce40c3361a5492e14f9a57c530366a1

[2021-11-20 05:06] abhiscrach opened #1306 "getting org.kohsuke.github.GHIOException: Failed to set the custom verb"
**Describe the bug**
I am getting org.kohsuke.github.GHIOException: Failed to set the custom verb when I try following
[code]
JDK 15
logs
org.kohsuke.github.GHIOException: Failed to set the custom verb

	at org.kohsuke.github.GitHubHttpUrlConnectionClient.getResponseInfo(GitHubHttpUrlConnectionClient.java:59)
	at org.kohsuke.github.GitHubClient.sendRequest(GitHubClient.java:387)
	at org.kohsuke.gi

[2021-11-20 06:59] bitwiseman commented on #1306
Duplicate of #1202

[2021-11-20 06:59] #1306 closed

[2021-11-20 07:00] #1297 closed

[2021-11-20 07:45] #1269 closed

[2021-11-20 12:09] sahansera commented on #1154
Based on the above comment I have created a draft PR to know your thoughts. I can target the `hub4j` repo if you are happy with it. PR - https://github.com/sahansera/github-api/pull/1

[2021-11-20 12:28] EasyG0ing1 commented on #1278
@bitwiseman This is flagged as needing more information?

[2021-11-21 01:42] willtsai commented on #1243
Hi @bitwiseman - I'm trying to use `mvn install -Dtest.github.takeSnapshot -Dtest.github.org=false -Dtest=YourTestClassName` per the contribution guide to run my unit test and take a json snapshot for the stub data so that I may convert it to a Wiremock test before I submit a PR.

However, I have run `mvn install -Dtest.github.takeSnapshot -Dtest.github.org=false -Dtest=GHEventPayloadTest#issue_co

[2021-11-21 08:32] #754 closed

[2021-11-21 08:32] #1202 closed

[2021-11-21 08:32] #1305 closed

[2021-11-21 17:56] bitwiseman commented on #1243
Not sure why this would not work for you. I'll invite you to the hub4j test  org. It might be a bug in the non-test-org feature.

[2021-11-21 20:22] willtsai commented on #1243
ok thanks! I will try another unit test using `getRepository()` targeting the test org repo

[2021-11-22 01:12] bitwiseman commented on #1267
@Typraeurion
`okhttp3.OkHttpConnector` has been deprecated.
Please test again using the newly released `okhttp3.OkHttpGitHubConnector`.

[2021-11-22 01:20] bitwiseman commented on #1278
@EasyG0ing1
Need more information - there was a bunch of back and forth. I wasn't sure I caught everything.  Probably a hold over from earlier.

As of v1.300, the default connector for Java 11+ is now `HttpClientGitHubConnector`. That addresses your original issue.

You last comment - https://github.com/hub4j/github-api/issues/1278#issuecomment-959355242 sounds like a different issue but definitel

[2021-11-22 01:20] #1278 closed

[2021-11-22 01:31] bitwiseman commented on #1265
@Typraeurion
The problem is in the `dispatch` method as you would expect:
https://github.com/hub4j/github-api/blob/a28a726b9c78b007a2b45e60a1bc73a6a3bf1804/src/main/java/org/kohsuke/github/GHWorkflow.java#L126-L136

Either than method should throw when it gets `null` for the ref, or the last line should be changed to call `send()` instead of `fetchStatusCode()`.

[2021-11-22 01:34] bitwiseman commented on #1154
@sahansera
Thanks for the PR. The change looks basically good. I've commented.

[2021-11-22 01:36] #1086 closed

[2021-11-22 01:41] bitwiseman commented on #1085
The implementation details changed but this task is complete.

[2021-11-22 01:41] #1085 closed

[2021-11-22 01:44] bitwiseman commented on #761
Updated existing code to use and return case-insensitive maps.  This might be a nice to have, but it is not in any way required. Closing.

[2021-11-22 01:44] #761 closed

[2021-11-22 01:47] bitwiseman commented on #771
You might have to write custom wiremock stubs, or record different stubs and then mix and match them to get the set of responses that will exercise this scenario.

[2021-11-22 17:39] willtsai commented on #1243
Update: that seems to have unblocked me, thank you @bitwiseman! Seems like there might indeed be a bug in the non-test-org feature. Should I log an issue for this?

[2021-11-22 21:50] sahansera commented on #1154
@bitwiseman Thanks a lot for reviewing, improving and merging this PR. I really like the new `GHQueryBuilder` 🎉 It's been a great learning opportunity!

Are we able to close this issue as well?

[2021-11-22 21:51] #1154 closed

[2021-11-23 01:44] willtsai commented on #1243
@bitwiseman - after looking at this more today, it seems that I didn't need to use Snapshot to generate the test data stubs after all given that this issue deals with `GHEventPayload` so I was able to get the event data json stub from a test webhook I added a test repo of mine.

That being said, I did notice that the comment changes object in the event payloads look the same for both issue comment

[2021-11-23 02:09] bitwiseman commented on #1243
Sure. Thanks!

[2021-11-23 12:06] sahansera commented on #771
@bitwiseman No problem! Thanks a lot for the suggestion. I have followed your approach and created a PR [here](https://github.com/hub4j/github-api/pull/1318).

In summary, I first ran the WireMock snapshots for my test repo and edited them manually so that they cover all the scenarios and comply with the `getRepository()` method.

[2021-11-23 16:59] bitwiseman opened #1320 "Rename `GHDiscussion` to `GHTeamDiscussion`"

[2021-11-23 17:41] #771 closed

[2021-11-23 17:49] bitwiseman commented on #521
As noted in #1319
Side note:
The objects returned as part of events are NOT the same as the GraphQL version of those same objects, Discussions in that issue. https://docs.github.com/en/graphql/reference/objects#discussion .

GraphQL `Node`s have `id` as `ID!` which is a Base64 string - https://docs.github.com/en/graphql/reference/scalars#id  but the objects returned with events return `id` as `lon

[2021-11-23 17:50] #1288 closed

[2021-11-23 18:05] bitwiseman commented on #1303
Yeah, this is not supported by the GitHub API.  Closing.

[2021-11-23 18:05] #1303 closed

[2021-11-23 18:49] bitwiseman commented on #521
Breaking changes do occur in GraphQL API, but they are rare:
https://docs.github.com/en/graphql/overview/breaking-changes

Non-breaking changes happen much more often:
https://docs.github.com/en/graphql/overview/changelog

[2021-11-25 08:41] EasyG0ing1 opened #1325 "Accessing Gists via getMyself().listGists() returns null data for Gist files"
Once I authenticate to GitHub with a valid access token, but then attempt to pull the Map of Gists using this method:

`gitHub.getMyself().listGists();`

It will give me a map of GHGist objects and their gistId's, but when I then use the GHGist object to pull the files out of Gist, the file data comes back null.

The only way I am able to access files successfully, is if I first iterate through th

[2021-11-25 08:45] EasyG0ing1 opened #1326 "While passing an expired Personal Access Token, isCredentialValid() returns TRUE"
While testing my app, I passed an expired personal access token, and when I called isCredentialValid() I was given a TRUE response. Yet as soon as I attempted to access any information in my account, I was given a NullPointerException and a message about passing an invalid token.

I was under the assumption that the isCredentialValid() method would allow me to verify creds in order to avoid errors

[2021-11-25 15:13] EasyG0ing1 commented on #1325
After switching to version 1.300 of the API, this seems to be working correctly.

[2021-11-25 15:14] EasyG0ing1 commented on #1326
After updating to version 1.300, this is working properly now.

[2021-11-25 15:14] #1326 closed

[2021-11-25 15:19] EasyG0ing1 commented on #1278
@bitwiseman - YES, 1.300 gets me connected with the HttpClientGitHubConnector.

You guys work fast over there - Thank you!

:-)

[2021-11-27 20:18] bitwiseman opened #1327 "Update Issue and PR templates to be generated from forms"
Help contributors follow submission guidelines for issue and pull requests in this project by making custom forms for default PR and bug report.
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2021-11-27 22:17] km2018 commented on #1024
Hi @bitwiseman was looking for some guidance on reproducing this issue. I'm mainly having trouble with `connectToEnterpriseWithOAuth`. I see that most of the connect to Enterprise methods are deprecated except for `connectToEnterpriseWithOAuth`. I'm mainly unsure what Enterprise URL I should input to the method, and how I can write a test for this if I do not have an Enterprise account. I believe

[2021-11-28 07:02] #1243 closed

[2021-11-28 22:35] bitwiseman commented on #1024
@km2018
Strictly speaking you'll need a GitHub Enterprise Server and then you'd configure the URL for it.

But you don't need to use a GHE instance, you can use github.com.  The problem is that `URL.getPath()` returns the path of the URL.  This works fine if your URL is `https://api.github.com/repos/12345` where the root of all the endpoints is `https://api.github.com`.  It is failing because on G

[2021-11-29 02:54] ecxia commented on #1191
hi @bitwiseman - I'm taking a look at this one. Can I get access to the organization for testing? Thanks!

[2021-11-29 05:47] bitwiseman commented on #1191
@ecxia  This change is not marked as a good first issue.  Are you sure you want to take this on?

[2021-11-29 12:15] ecxia commented on #1191
@bitwiseman i have noticed that it is not straightforward but I will give it a shot！

[2021-11-29 17:58] bitwiseman commented on #1191
@ecxia
Okay!  Feel free to create a draft PR of your changes earlier your development process if you want early feedback to ensure you're going in a good direction.

[2021-11-30 21:01] Typraeurion opened #1330 "Query runs for a workflow"
**Describe the bug**
This is a follow-up to issue #1244.  v1.135 added `listRuns` to GHWorkflow, but that doesn’t have support for adding any query parameters list GHRepository’s `queryWorkflowRuns` does.

I checked out the source code and tried adding support for this myself, but ran into two issues:
* On importing the project into Eclipse, I get a “Maven Project Build Lifecycle Mapping Problem”

[2021-11-30 22:33] Typraeurion opened #1331 "Implement workflow job event payload"
**Describe the bug**
#1316 added `WORKFLOW_JOB` to the GHEvent enum, but receiving workflow_job events is still not fully supported because it can’t be mapped to any GHEventPayload subclass.  An attempt to map it to the GHEventPayload superclass results in:

I’ve captured the request body for a workflow_job event in order to check its structure, and it looks like implementing this is very straight

[2021-12-01 08:36] gsmet commented on #1331
The doc is not very clear about how to get this sort of event. By any chance, do you have a full payload for an event like this that we could use in the tests?

If so I would encourage you to create a pull request with your code and the payload added (See how it's done in `GHEventPayloadTest`, the payloads are in src/test/resources with the name of the test method).

[2021-12-01 14:16] Typraeurion commented on #1331
I couldn’t figure out how this project is getting its test data, and I’m working on a private repository owned by my client so I don’t know that I’d be allowed to share this event’s actual data.  But to get the event you just need to enable “Workflow jobs” events on the repository webhook (https://github.com/{owner}/{repo}/settings/hooks/#####) and then get a workflow to run.  GitHub sends a workf

[2021-12-01 22:47] km2018 commented on #1024
Hi @bitwiseman thanks for the response! I think I want to keep working on this issue. Just to clarify, are you saying I can use `connectToEnterpriseWithOAuth` without a GHE instance (using `https://api.github.com`), but I won't actually be able to re-produce the issue without a GitHub Enterprise Server? From what I understand, this issue won't occur unless it contains `/api/v3` in the URL, which i

[2021-12-02 22:37] bitwiseman commented on #1024
@km2018
You could record data from github.com and then manually adjust it to have "/api/v3" to in the path (by changing the mapping json files). Does that make sense?

[2021-12-05 00:44] SCHJonathan commented on #1325
@bitwiseman Hi Bitwiseman! May I request the access to `hub4j-test-org` as I managed to have a fix for this issue and want to submit my PR? I found this issue is caused by the file content field is not returned by the API and we need to do a lazy download from the `raw_url` field in case the file content is needed but has a `null` value.

[2021-12-05 00:49] km2018 commented on #1024
@bitwiseman Thought about this for a bit and I think I'm still a bit confused - could you maybe give an example in code to show this?

[2021-12-05 01:08] SCHJonathan commented on #1292
@bitwiseman Hi, bitwiseman! I am more than happy to start working on supporting this API endpoint! I will start by working on CRUD for repository secret and will submit a PR once it has been throughoutly tested and ready to be reviewed.

[2021-12-07 04:27] km2018 commented on #1024
Hi, I was hoping to get access to the test organization, so I could work on testing this issue.

[2021-12-07 09:18] bitwiseman commented on #1024
@km2018  Invitation sent.

[2021-12-07 09:19] bitwiseman commented on #1325
@SCHJonathan
Invitation sent.

[2021-12-07 09:20] bitwiseman commented on #1292
@SCHJonathan
Feel free to submit a PR as draft for early feedback if you have any questions.

[2021-12-07 09:28] bitwiseman commented on #1330
@Typraeurion
I've invited you to join the hub4j-test-org to be able to generate test data.  After you've accepted, look at https://github.com/hub4j/github-api/blob/main/CONTRIBUTING.md#running-wiremock-tests to see how you can set your environment to record new data.

Hmm, try rebasing on the latest `main` branch.  That may help.  If it doesn't then we'll need to debug a bit.

[2021-12-07 22:06] bitwiseman commented on #1024
@km2018
I'll see if I can find time to create an example for you later today.

[2021-12-08 21:25] km2018 commented on #1024
@bitwiseman Thanks for sending the invitation - I went ahead and accepted it. However, when trying to take a snapshot, I still received a "Must have admin rights to repository". I tried to follow the instructions in CONTRIBUTING.md, and I've correctly configured `GITHUB_OAUTH`. Here is the error I'm getting:
<img width="1440" alt="Screen Shot 2021-12-08 at 3 25 08 PM" src="https://user-images.gith

[2021-12-09 15:10] bitwiseman commented on #1024
@km2018
I think I know what is wrong.  The CONTRIBUTING.md is out of date and doesn't mention that you'll need to give you're OAuth token the appropriate permissions, including admin rights to create and delete repositories in this case.

[2021-12-10 20:16] bbaga commented on #1082
Hello, I'm trying to upgrade to the latest version of the library, but then the workaround doesn't work anymore due to the [`root` property becoming `private` on the `GitHubInteractiveObject`](https://github.com/hub4j/github-api/pull/1230/files#diff-8f980eace1389bbec22b15febf799e3d6afe675f84693381b9d978be9872ab24R20).

So how can one use the `GHAppInstallation::listRepositories()` method?

Some de

[2021-12-10 21:00] bbaga commented on #1082
The terrible, terrible hack I come up with:
[code]

[2021-12-11 10:17] EasyG0ing1 opened #1343 "Potential problem from lack of modular declaration for github-api jar file"
This project I'm working on, I intend to publish to a public repository at some point ... I ran a Maven verify goal on my project and it came back with this warning:

[code]

When I looked into the warning, apparently this is considered somewhat serious as it is caused by the library not having a module declaration, where a module declaration remains unchanged in future releases of an artifact whe

[2021-12-12 01:02] bitwiseman commented on #1343
Here's a the first SO answer I found by searching...
https://stackoverflow.com/questions/46501047/what-does-required-filename-based-automodules-detected-warning-mean

It doesn't offer a clear example in the answer for how to fix this.  Many commenters point out that it is a warning.

This page offers some clear instructions, but I haven't had a chance to read if fully to understand the pros/cons.

[2021-12-13 17:18] penkzhou opened #1344 "use api to fetch issue list and get infinite loop"
**Describe the bug**
searchIssues() api run with infinite loop

**To Reproduce**
Steps to reproduce the behavior:
run the code:

[code]

**Expected behavior**
print 20 lines title.

**Real behavior**
the script is dead because of  infinite loop(and reach the github's api call limit:"You have exceeded a secondary rate limit. Please wait a few minutes before you try again.")

**Desktop (please compl

[2021-12-13 19:14] bitwiseman commented on #1344
@penkzhou
We're going to need more details.
What does the output look like? Is there a stack trace?

What happens if you change the page size to 100?
Also, the list of search results is probably very long.  If you `.toList()` on it, it is quite possible the output will be thousands of results.  "You have exceeded a secondary rate limit." is likely GitHub throttling you for API abuse.

[2021-12-13 19:30] bitwiseman commented on #1082
Maybe what we really want here is a compound AuthorizationProvider or some other way for requests to indicate the kind of authorization they need and they request that kind of authorization.

[2021-12-13 22:06] bitwiseman commented on #1082
Related: https://github.com/jenkinsci/github-branch-source-plugin/blob/master/src/main/java/org/jenkinsci/plugins/github_branch_source/GitHubAppCredentials.java

[2021-12-14 06:12] penkzhou commented on #1344
Thank you for the in time response.

yeah, when I change the page size to 100 the error occur less.  But it throw the error sometimes.

`
org.kohsuke.github.HttpException: {
  "documentation_url": "https://docs.github.com/en/free-pro-team@latest/rest/overview/resources-in-the-rest-api#secondary-rate-limits",
  "message": "You have exceeded a secondary rate limit. Please wait a few minutes before y

[2021-12-14 06:12] penkzhou commented on #1344
My intent is to fetch the issue list and make the pagination myself.

[2021-12-14 18:39] bitwiseman commented on #1344
I edited your comments to use [triple backticks](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code) for multiline code.

What list of issues are you trying to get?  Using `searchIssues()` is very broad.  I suspect the length of that list is large which will result in problems.

The page the err

[2021-12-14 21:39] penkzhou commented on #1344
thanks for your response. I'm making a desktop app using github api.the use scenario is when I click the issue tab,it just load the first page data of issue.

the result now is it fetch the first page data then continue fetch the second page automatically then third and so on.so i can't control the issue list call with page size api.

[2021-12-16 07:51] abhilashraju opened #1345 "Getting file diff with Github API"
Is there any API available to see the diff between two versions of files?. or any API to retrieve the contents of the current, previous version of the file?

[2021-12-17 04:14] abhilashraju commented on #1345
It seems queryCommits from GHRepository suits my needs. Closing the issue.

[2021-12-17 04:14] #1345 closed

[2021-12-18 23:13] EasyG0ing1 commented on #1343
@bitwiseman - According to the second article you linked, all that would be required for github-api to be considered an officially named modular library is to include one line in the MANIFEST.MF file. And that one line is:

[code]

The idea is that as you continue developing the library, that module name never changes and is provided by the library which satisfies Maven checks and all that.

You c

[2021-12-18 23:51] EasyG0ing1 commented on #1343
@bitwiseman - Well, I tried to test the claim and added that line to the manifest file and it did indeed cause it to pass the check but then it failed the compile goal stating that it could not find the libraries modules.java file ... so clearly ... it's not as simple as adding that line to the manifest.

[2021-12-19 13:18] EasyG0ing1 commented on #1343
@bitwiseman OK... so another reversal ... when I added this line to the manifest file in github-api-1.301.jar

[code]
Then changed my module-info file to match that name ... everything compiles properly and no warning was thrown from Maven.

[2021-12-19 17:19] bitwiseman commented on #1343
Submit a PR!

[2021-12-19 17:59] EasyG0ing1 commented on #1343
@bitwiseman Done!

[2021-12-20 05:33] EasyG0ing1 commented on #1343
@bitwiseman It should be noted that even though this "fix" allows for compiling and it satisfies the publishing requirement, it still will not build into an executable if the developer uses jlink, because jlink requires dependencies to actually be modular and it specifically errors out when a dependency is implemented and it contains an automatic-module-name.

I'm thinking that at some point, the

[2021-12-20 07:19] bitwiseman commented on #1343
Okay, so what additional work is required?

[2021-12-20 07:43] EasyG0ing1 commented on #1343
@bitwiseman - No sooner than I posted my last comment I said to myself ... "he's probably gonna ask me to do it" - LOL

So ... I started working on it and should have an answer soon...

I think the first question to answer, is: Will it be acceptable if this API is no longer compatible with Java versions older than version 9? Because once it goes modular, it can't be compiled in any JDK older than

[2021-12-21 09:26] bitwiseman commented on #1343
We compile using Java 11 but we target Java 8. We use Java 11 to create a multi-release jar that has a different limitation for default GitHub connector for Java 11 and later, which is where all this modularization warnings started.

I'd be open to publishing a modularized Java 11 plus only jar for you spy those who care about this, but we need to continue to produce the Java 8 plus compatible jar

[2021-12-21 17:38] EasyG0ing1 commented on #1343
Let me test the pull request in a java 8 app to make absolutely sure that I didn't break that compatibility. Though I can't imagine how that one line could cause problems, it never hurts to be absolutely sure... and after compiling the API and starting a new 1.8 project and including the library, I immediately ran into the message that I need Java 11 when I invoke the library using this call:

[co

[2021-12-21 18:20] EasyG0ing1 commented on #1343
@bitwiseman - Actually, I was able to authenticate when using the published 302 API in a 1.8 project (by just using .withOAuthToken in the Builder) but my compile of the API throws this
[code]
Which tells me that I'm not compiling it correctly. I compile it by running this maven command within intelliJ
[code]
What's the right way to do it?

[2021-12-21 20:51] #1343 closed

[2021-12-21 20:59] EasyG0ing1 commented on #1343
@bitwiseman Since you compile with Java 11, I'm pretty sure my last statement about incompatibility with 1.8 becomes non-issue... I bought and am now [reading this book](https://www.oreilly.com/library/view/java-9-modularity/9781491954157/) ... currently in chapter 4 hope to be done within a couple of days ... if I don't have a firm grip on modular coding in Java by the time I finish it, I'll join

[2021-12-21 21:03] bitwiseman commented on #1343
Do remember to op a new issue for the remaining work, thanks!

[2021-12-25 23:06] WorriedArrow opened #1347 "[Enhancement] How do I get a reply in a team discussion?"
#### My goal is to get what people said from a discussion in a team in an organization.<br>I can't figure out how to do this though, no matter how much I search.

##### Thanks

[2021-12-29 05:25] bitwiseman commented on #1347
How do would you do this using the REST API?

[2021-12-29 16:23] WorriedArrow commented on #1347
I'm not sure. It doesn't look like they have any documentation on it, though I'm not very familiar with the REST API.

[2021-12-29 16:34] gsmet commented on #1347
There is an endpoint here: https://docs.github.com/en/rest/reference/teams#discussions .

And I think we already have an embryon of this here for instance: https://github.com/hub4j/github-api/blob/bcb71a3c318d243c92b757310cf153b8afc983d5/src/main/java/org/kohsuke/github/GHTeam.java#L135 . There might be some things missing but it should be easy to add them.

[2021-12-29 16:35] WorriedArrow commented on #1347
Ah! Thank you very much!

[2021-12-29 16:45] WorriedArrow commented on #1347
Hmm... this seems like it won't get replies, but rather discussions.

[2021-12-29 17:06] gsmet commented on #1347
Hmmm. Have a look at the payload you obtain anyway just in case. But it looks like the comments aren't there.

In this case, your best bet will be the GraphQL API: https://docs.github.com/en/graphql/reference/objects#teamdiscussion .

[2021-12-29 17:10] WorriedArrow commented on #1347
Thanks!

[2021-12-29 17:10] #1347 closed

[2021-12-30 14:53] EasyG0ing1 commented on #1343
@bitwiseman

What I learned from that book will either further complicate the issue or nullify it entirely.

So it seems that modularizing Java code is:

1) Completely optional and never required.

2) The only reason to make a **library** modular, is to gain complete granular control over which portions of the library are exposed to a developer. Some of the obvious reasons for doing it would be:

[2021-12-31 15:48] EasyG0ing1 commented on #1343
HE's got JOKES! LOL
<img width="442" alt="Screen Shot 2021-12-31 at 7 44 59 AM" src="https://user-images.githubusercontent.com/10106834/147831092-ac517ede-5e61-4bd9-864d-e9adac2c58ed.png">

I certainly cannot ever remember being accused of being too brief in my emails over the years ... ;-)

Just like to make sure everyone is on the same page and that no one ends up feeling like they were misled..

[2022-01-16 09:37] maxandersen opened #1354 "can star/unstar a gist but cannot star/unstar a repository"
wanted to star a repository but GHRepository does not have star no unstar method. Funny enough GHGist does have that ability.

would make sense to add star and unstar to GHRepository too.

[2022-01-19 08:33] willemevenwel opened #1356 "OkHttpGitHubConnector constructor seems to override OkHttpClient variables/settings"
OkHttpGitHubConnector constructor seems to override OkHttpClient variables/settings. I explain.

I am developing behind a corporate proxy. So while I run my code locally, I need to have my OkHttpClient initialized/built with proxy configurations. Like this:

            OkHttpClient client = new OkHttpClient.Builder()
                    .connectTimeout(15, TimeUnit.SECONDS)
                    .w

[2022-01-21 08:00] danhallin opened #1357 "Exception on renaming label"
**Describe the bug**
Throwing error when renaming label, the renaming does takes place.

org.kohsuke.github.GHFileNotFoundException: https://api.github.com/repos/org/repo/labels/<oldname> {"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/issues#update-a-label"}
	at org.kohsuke.github.GitHubClient.interpretApiError(GitHubClient.java:540)
	at org.kohsuke.github.GitHu

[2022-01-28 07:07] #1344 closed

[2022-01-29 06:39] bitwiseman commented on #1357
@danhallin
The `GHLabel.Setter` automatically calls done after the call to `setter.name(newname);`.
This bug is still valid in that calling `done()` multiple times on the setter should result in a helpful exception message telling you this is not valid.

Try calling `ghLabel.set().name(newname);`.

[2022-02-06 15:52] antrix190 commented on #1354
@bitwiseman can i have a go at this issue?

[2022-02-08 10:00] sundergopalsingh opened #1373 "Api support required for checking the authorization for Github OAuth token after previous api has been deprecated"
**Describe the bug**
Github has deprecated previous REST api that was used to check the authorization of OAuth token as per https://docs.github.com/en/enterprise-server@3.3/rest/reference/oauth-authorizations#check-an-authorization and blog post https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/

In this repository we are using the deprecated api :-
https://github.com/

[2022-02-14 16:04] nieanlei opened #1374 "`GHEventPayload.Push.getPusher()` returns `null` from `getEvents()`"
@Test
    public void testEventApi() throws Exception {
        final GitHub gitHub2 = GitHub.connectUsingOAuth("token");
        for (GHEventInfo ev : gitHub2.getEvents()) {
            if (ev.getType() == GHEvent.PUSH) {
                if (GHEvent.PUSH == ev.getType()) {
                    GHEventPayload.Push push = ev.getPayload(GHEventPayload.Push.class);
                    //push.getPusher

[2022-02-14 16:12] nieanlei commented on #1374
https://github.community/t/here-is-a-problem-with-the-api/229353/6  this my question

[2022-02-14 22:28] bitwiseman commented on #1374
This library does not control what  GitHub returns.  Sounds like a bug in GitHub?

[2022-02-14 22:44] bitwiseman commented on #1374
Okay, let's clarify something:
The REST API call to https://api.github.com/repos/nieanlei/github-test/commits is not the same as the the commits returned in the `GHEventPayload.Push` event `getCommits()`.

Also, I think `getEvents()` does not return the same information that is returned by actually listen for events via webhooks.

I'm sorry to say, but in order to establish that the problem is in

[2022-02-14 23:54] bitwiseman commented on #1016
Consider https://siom79.github.io/japicmp/ to flag/prevent breaking API changes.

[2022-02-15 02:29] nieanlei commented on #1374
When binding webhooks, I need to pull git history commit info, I need to differentiate between different events like push,merge, and know who did it

[2022-02-15 02:40] nieanlei commented on #1374
When binding webhooks, I need to pull git history commit info, I need to differentiate between different events like push,merge, and know who did it

you mean : event.getCommits().get(0).getCommitter()  = event.getPusher?

[2022-02-15 04:55] bitwiseman opened #1375 "Webhook payloads and Event payloads should not be represented by the same classes"
Webhooks and events contain similar data but often not the same data.  The Push event is one example:
https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#push
https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#pushevent

There's a lot of overlap, but having the two represented by the same data objects is misleading.  We sh

[2022-02-15 04:56] bitwiseman commented on #1374
Here is an example of a `PushEvent` returned from https://api.github.com/repos/hub4j/github-api/events :
[code]

As you can see, it does not include the `pusher` field and the commits do not include the `committer` field.  However, the documentation for the [webhook push event](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#push) does include those f

[2022-02-15 04:56] #1374 closed

[2022-02-18 03:29] nieanlei opened #1376 "I want to know how to verify Java for Validating payloads from webhooks"
Is there any Java API？

how to decrypt  payload

    public String gitHubHook(@RequestBody String payload, @RequestHeader("X-GITHUB-EVENT") String event,
            @RequestHeader("X-Hub-Signature-256") String signature) throws IOException {

}

[2022-02-18 09:37] gsmet commented on #1376
If you are developing a GitHub bot, I would suggest you have a look to my Quarkus GitHub App project, which handles all the boilerplate for you: https://github.com/quarkiverse/quarkus-github-app .
It doesn't require any prior Quarkus knowledge and is extensively documented.

If you prefer doing things all by yourself, just have a look at the payload checker there: https://github.com/quarkiverse/qu

[2022-02-19 06:28] nieanlei commented on #1376
Thinks

[2022-02-20 04:53] nieanlei commented on #1376
I can match it with your demo data

I can't match the correct signature with,GitHub sent sender.
[payload-signature-checker.txt](https://github.com/hub4j/github-api/files/8103439/payload-signature-checker.txt)

eg: this txt is ：payload-signature-checker.json   ,GitHub sent it to me push event json

my webhooks-secret:  webhooksSecret

![image](https://user-images.githubusercontent.com/30683887/154

[2022-02-22 20:45] jgangemi opened #1377 "GHOrganization.Permission does not support custom roles"
github added the ability to define custom roles, however the `Permission` object is an enum and this not extensible.

i was thinking of converting the `Permission` enum into a class and creating constants for the static roles, however that would be a breaking change. i could probably introduce a new class to work around this but don't have a lot of great names, `RolePerm` perhaps?

thoughts?

[2022-02-23 15:06] gsmet commented on #1376
I can't really say. I know it works for me with Quarkus GitHub App.

One important point though: you need to provide the JSON exactly as is. If you are using something like smee.io to redirect the payload to your computer, smee.io actually changes the payload before sending it to you. It's a well known bug of smee.io (see https://github.com/probot/smee.io/issues/78 for instance but there are a few

[2022-02-24 14:18] BenF99 opened #1380 "Determining result of Workflow Dispatch"
### Unable to identify the cause of failure for workflow dispatch event

![image](https://user-images.githubusercontent.com/55698282/155540552-756db89d-85fd-43b7-8bc4-97d45c157394.png)

As we known, `dispatch` doesn't return anything, making it extremely difficult to identify the cause of failure for a workflow trigger.
As an example, assume a workflow requires a specific input which is not provid

[2022-02-28 11:44] nieanlei commented on #1376
package github.test.play;

import org.apache.commons.codec.DecoderException;
import org.apache.commons.codec.binary.Hex;
import org.apache.commons.lang3.StringUtils;

import javax.crypto.Mac;
import javax.crypto.spec.SecretKeySpec;
import java.io.*;
import java.security.InvalidKeyException;
import java.security.MessageDigest;
import java.security.NoSuchAlgorithmException;

public class SecretKeyTe

[2022-02-28 11:44] #1376 closed

[2022-02-28 11:45] nieanlei commented on #1376
@RequestMapping(value = "/open/git/github/hook")
    public String playload(  HttpServletRequest req) throws IOException {
        SecretKeyTest secretKeySpec =new SecretKeyTest();
        try (BufferedReader reader = req.getReader()) {
            String body = Joiner.on("\n").join(CharStreams.readLines(reader));
            secretKeySpec.validateSignature(req.getHeader("X-Hub-Signature"), body,

[2022-03-01 15:01] AmyShields-EN0085 opened #1386 "Update GHTeam APIs to not use deprecated urls - 15th March effective"
GHTeam APIs updated to not use deprecated urls - comes into effect 22nd March

Communication from GitHub -

https://github.blog/changelog/2022-02-22-sunset-notice-deprecated-teams-api-endpoints/

In [early 2020](https://developer.github.com/changes/2020-01-21-moving-the-team-api-endpoints/), we moved the Teams API from a top-level path under /teams/:team_id to a scoped path under the organization

[2022-03-01 15:46] gsmet commented on #1386
I'll have a look at this one tonight.

Thanks @AmyShields-EN0085 for opening the issue.

[2022-03-01 16:13] AmyShields-EN0085 commented on #1386
This comes into effect 15th march - not 22nd! Apologies!

[2022-03-01 16:15] gsmet commented on #1386
Even better :).

[2022-03-01 17:00] gsmet commented on #1386
@bitwiseman I started working on this one but I don't have the permissions to properly regenerate the required snapshots. Most of the Teams API requires me to be an admin.

[2022-03-02 00:58] bitwiseman commented on #1386
@gsmet I'll get you those tonight.

[2022-03-02 01:15] bitwiseman commented on #1386
@gsmet You are already an owner in `hub4j-test-org`.

I'm a little concerned.  If there are versions of GitHub Enterprise still using these old endpoints, they will stop working with this change.  But that is lower priority bug that we can address if it comes up.

[2022-03-02 01:51] bitwiseman commented on #1377
`RolePermission` seems fine.  Go for it and we can adjust it when it reaches PR if it seems needed.

[2022-03-02 04:56] nieanlei opened #1393 "Often appear：Server returned HTTP response code: -1, message: 'null"
![image](https://user-images.githubusercontent.com/30683887/156297581-df4eb687-3489-4662-b753-3f935feb1a55.png)

The error occurred from time to time and succeeded after several attempts

[2022-03-02 09:22] gsmet commented on #1386
Hmmm. That is weird because it looked a lot like I didn't have all the required permissions. I'll have a closer look tonight.

I think they will have to stay on older versions of the GitHub API.
Other option would be to introduce some sort of dialect which would be dependent on the version but really not sure it's worth it.

[2022-03-04 07:41] klosowskiMikolaj commented on #1386
Hello @gsmet
Do you have a working timeline for the fix - will you be able to provide it before the next brownout (March 8, 2022, for 24 hours starting at 14:00 UTC)?

[2022-03-04 09:09] gsmet commented on #1386
I'm back at it today.

[2022-03-05 19:52] #1386 closed

[2022-03-06 09:24] gsmet commented on #1386
1.303 has been released. Please update before the next brownout of March 8th and report back if you encounter any issue.

[2022-03-06 09:29] chadlwilson commented on #1386
Updated a plugin i help maintain in https://github.com/gocd-contrib/github-oauth-authorization-plugin/pull/197 - seems to be working fine - thanks @gsmet !

[2022-03-07 19:24] bitwiseman commented on #1356
@willemevenwel
The builder returned at `Builder builder = client.newBuilder();` should retain all the settings from `client` aside from the specific ones it overrides.  Since we don't set the proxy values they should be retained.  Is this not the case?

[2022-03-07 19:29] bitwiseman commented on #1016
JApiCmp added in #1398.  This does not address the issue noted in the title. For that we will need a tool like RevApi or might be able to check this kind of problem via ArchUnit since it is not a surface area change problem, but a basic API correctness issue.

[2022-03-09 11:20] #1393 closed

[2022-03-12 19:24] kartikpatodi opened #1400 "Add ldap info to GHUser"
The GHUser does not map user ldap info (provided with GHE)

Field name: ldap_dn
Type: String

example
**/users/{username}**

[code]

[2022-03-12 19:25] kartikpatodi commented on #1400
The same would apply for commit author, etc.

[2022-03-13 05:50] worldbiomusic opened #1402 "404 error in javadoc when try to search"
**Describe the bug**
404 error in Java doc when try to search.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [javadoc](https://github-api.kohsuke.org/apidocs/index.html)
2. Search `GHRepository`
3. See error

**Expected behavior**
- It looks javadoc needs to be regenerated

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: chrome
 - Version: lates

[2022-03-13 21:29] bitwiseman commented on #1400
Please provide link to the GHE docs page for the endpoint.

[2022-03-15 09:46] Georgeforman3 opened #1404 "GitHub App Webhook Deliveries support"
Is there any way to list webhook deliveries for the webhook configured for a GitHub App?
https://docs.github.com/en/enterprise-cloud@latest/rest/reference/apps#list-deliveries-for-an-app-webhook

Or to redeliver a delivery?
https://docs.github.com/en/enterprise-cloud@latest/rest/reference/apps#redeliver-a-delivery-for-an-app-webhook

Thanks.

[2022-03-15 21:34] blacelle opened #1405 "OutOfMemoryError on GHRepository.readZip due to lack of streaming"
**Describe the bug**
I encounter OutOfMemoryError over GHRepository.readZip while having reasonable free heap.

**To Reproduce**
Steps to reproduce the behavior:
1. Consider a large Github repository (e.g. 50MB)
2. Rely on GHRepository.readZip, while being a bit memory constrained (e.g. with Xmx128M)
3. Encounter a OutOfMemoryError

**Expected behavior**
I would expect the whole InputStream not to

[2022-03-16 01:53] bitwiseman commented on #1405
Agreed, the current implementation has this issue. We chose to do it that way to address other problems in more common scenarios. Allocating some memory that will be quickly returned is okay in most cases.

There are a number of possible fixes, but they add complexity in exchange for memory efficiency.  Using file-based caches for example... Or maybe providing a different  code path for endpoints

[2022-04-03 00:10] appkr opened #1419 "Does withPageSize api work?"
Thanks for providing such a nice library.

As the title says, I am having trouble using `withPageSize(int)` api.
[code]

Not support paging for GHEventInfo is BY DESIGN?
OR did I make a silly mistake in using the api?

Look forward to have an help. Thanks.

[2022-04-03 00:31] appkr commented on #1419
ADDITIONAL NOTE: I expected `withPageSize(10)` yields only 10 items, but 300.
<img width="902" alt="스크린샷 2022-04-03 오전 9 28 12" src="https://user-images.githubusercontent.com/6471947/161406105-83e951f4-c250-4152-8bfe-fb94129d32fd.png">

[2022-04-04 16:43] nahsra opened #1420 "No way to access pull request review comment details"
I'm not sure of the intended way I should access pull request review comment details.

Specifically, this API here: https://docs.github.com/en/rest/reference/pulls#get-a-review-comment-for-a-pull-request

I can get a list of comments with `GHPullRequest#listReviewComments()`, but they don't contain the commit ID, diff hunk, etc. The comments returned from that API contain a URL to retrieve more de

[2022-04-05 06:09] bitwiseman commented on #1419
https://docs.github.com/en/rest/reference/activity#list-repository-events says that the `/repos/{owner}/{repo_name}/events` endpoint supports `per_page`... Oh, wait, I see the problem.

The `PagedIterator<>.toList()` method always returns the complete list of all results. [This is by design.](https://github.com/hub4j/github-api/blob/9e440f59ed40a60fe27264e0f79e4c3be1e4252c/src/main/java/org/kohsuk

[2022-04-05 06:10] #1419 closed

[2022-04-05 06:31] bitwiseman commented on #1420
@nahsra
I have hidden the above comment to save anyone from having to look at the code. You're right, only people who hate the world would do that.

However, you can turn hate into love - submit a PR adding the missing properties to [GHPullRequestReviewComment](https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHPullRequestReviewComment.java) .  You don't need the `@Js

[2022-04-05 15:50] bitwiseman commented on #1404
The first item seems like an easy fix - add the field and test it.

The second item is easy enough to add a method to call, testing might be a little harder. You can certainly check that the endpoint is called but verifying the webhook callback isn't something we can currently do in our CI system.  It would probably be best to create the WireMock test data by hand and only run the test against the

[2022-04-06 07:04] appkr commented on #1419
Thanks for the kind answer. The usage example works correctly.

[2022-04-07 19:16] jgangemi commented on #521
has there been any further thought about this? i have a feeling that access to dependabot alerts are only going to be available via graphql.

i guess there's nothing that would currently prevent me from using that endpoint as well...

[2022-04-08 02:49] bitwiseman commented on #521
Yeah, there's a bunch of underlying work to be done here. But this might be a case where we start with something closer to the raw API and then make it more Java friendly over time.

[2022-04-08 13:57] nieanlei opened #1422 "Oauth2 The authorization request Token timed out seriously"
![image](https://user-images.githubusercontent.com/30683887/162450668-1e2c698b-ce63-4c9c-8c15-50773b0df873.png)

![image](https://user-images.githubusercontent.com/30683887/162450427-42e53d40-3497-4421-b822-328186ddf838.png)

[2022-04-08 14:00] nieanlei commented on #1422
Requests time out very frequently

[2022-04-08 14:06] jglick commented on #521
IIUC a key advantage of GraphQL is that you can generate type-safe client interfaces from schema. That sounds like a different library altogether, though there might be a bit of overlap (or at least a factored-out common library) to deal with authentication.

[2022-04-08 14:16] jgangemi commented on #1377
resolved by #1403

[2022-04-08 14:16] #1377 closed

[2022-04-08 16:14] bitwiseman commented on #1422
This is due to a network issue in your infrastructure. It is not a bug in this library.

You might try switching to using okhttp for connecting. It tends to do a better job of retrying when this kind of problem occurs.

[2022-04-08 16:14] #1422 closed

[2022-04-08 16:19] nieanlei123 commented on #1422
Thinks

[2022-04-08 16:19] nieanlei123 commented on #1422
Thanks

[2022-04-08 16:25] bitwiseman commented on #521
Just generating the schema is not enough.

Authentication, rate limits, retrying, stable api that compensates for bugs and backward compatibility.

Also GraphQL offers more data but requires the client to specify the fields they want. Which means everyone can generate queries for exactly the data they need, but if they are not sure of what data is needed at query time (as with Jenkins, with its pl

[2022-04-08 16:47] jglick commented on #521
Perhaps; depends on what code is constructing the query and for what purpose. If it is exposing some sort of GH object for other unknown plugins to inspect in arbitrary ways, then yes this would defeat a key aspect of GraphQL.

[2022-04-08 18:08] gsmet commented on #521
FWIW, in Quarkus GitHub App, I expose both the GitHub REST API using this very API and a low level GraphQL client.
From my experience, both are useful for different things and they both have unique features.
For GraphQL, I don't think I would imagine not writing my queries myself as they really need to be tuned and limited to the strict minimum to avoid raising costs (the GraphQL API rate limiting

[2022-04-09 12:43] nieanlei commented on #1422
It's really a network problem   I solved the problem    Modifying the hosts file

199.232.69.194  github.global.ssl.fastly.net
140.82.112.3 github.com
140.82.113.4 github.com
185.199.108.153 assets-cdn.github.com
185.199.109.153 assets-cdn.github.com
185.199.110.153 assets-cdn.github.com
185.199.111.153 assets-cdn.github.com

[2022-04-09 19:44] #1400 closed

[2022-04-11 02:31] #1420 closed

[2022-04-14 14:26] 0xacx commented on #1402
When manually navigating to the file, the path is correct and you can view the file. `https://github-api.kohsuke.org/apidocs/org/kohsuke/github/GHRepository.html`
When searching for the file, `undefined` is added to the path,  for classes that don't belong in modules,
`https://github-api.kohsuke.org/apidocs/undefined/org/kohsuke/github/GHRepository.html`, thus making the request return 404.

There

[2022-04-19 18:09] gsmet opened #1435 "Missing tag for 1.304"
I can't find the tag for 1.304 on GitHub.

[2022-04-19 22:17] #1435 closed

[2022-04-19 22:17] bitwiseman commented on #1435
Skipped to 1.305.

[2022-04-21 04:06] bitwiseman commented on #1402
@0xacx  @worldbiomusic
It looks like #1434 fails due to more stringent doclint behavior in Java 17.  Would either of you be willing to do the work to address the new warnings?

[2022-04-26 07:16] yusuf-erdem opened #1445 "Missing Workflow Job's running machine type (ubuntu, windows, macos)"
Hello,
I need to find Workflow Job's running machine type (ubuntu, windows, macos). Github Api has labels property which includes that information. It seems like you did not provide **labels** information of GHWorkflowJob. Can you provide that or do you have information about job's running mactine type already? Thank you for your supports...

[2022-05-09 10:34] Vampire opened #1454 "Please provide streaming for large content to avoid unnecessary RAM wasting or busting"
I have a Gradle build where I build a Docker image tar file which has a size of 166 MiB.
I use the GitHub publish Gradle plugin and tried to upload this Docker image as asset to the release.
This consistently resulted in an `OutOfMemoryError`.

The GitHub publish Gradle plugin under the hood uses this library.
And I also easily reproduced it stand-alone.
In version 1.1xx, you use an `HttpsUrlConne

[2022-05-12 12:16] ketronkowski commented on #1380
I have a case where a 403 is being returned from the GitHub "dispatches" API call, it would be very useful for the method caller (of `dispatch(...)`) to know that information through a thrown IOException based on receiving a 400/500 error from the Github API.

[2022-05-12 12:51] gsmet commented on #1380
PR is here: https://github.com/hub4j/github-api/pull/1455 .

I don't know what I was thinking when I implemented it...

[2022-05-15 07:45] #1380 closed

[2022-05-15 07:50] bitwiseman commented on #1454
see #1405.

[2022-05-15 07:51] bitwiseman commented on #1445
Is this information in the REST API?

[2022-05-15 11:16] Vampire commented on #1454
But that's a different issue, isn't it? There it is about receiving something and according to you it needs significant complexity to be fixed. Here it is about sending an artifact where you (at least in the 1.1xx version) just need to enable streaming mode and eventually let the user specify the file size or the file instead of just a stream. Should be pretty trivial to fix this one, shouldn't it

[2022-05-15 13:35] yusuf-erdem commented on #1445
Yes it is already included, https://docs.github.com/en/rest/actions/workflow-jobs#get-a-job-for-a-workflow-run
There is PR for this addition, you can check it...

https://github.com/hub4j/github-api/pull/1447

[2022-05-16 18:30] mttjj opened #1456 "Creating a Repo with a Visibility Fails"
**Describe the bug**
When using the [GHCreateRepositoryBuilder](https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHCreateRepositoryBuilder.java) to create a repo and setting the [visibility](https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHRepositoryBuilder.java#L161), the resulting API call fails with the following exception (see below

[2022-05-19 09:41] vinz243 opened #1457 "How do I add a tree entry when creating a tree"
Hi,

Method `org.kohsuke.github.GHTreeBuilder#entry(String, String, String, String, String)` is deprecated.

Then only non deprecated only allows text content, but there is no way to add a tree.
Thanks

[2022-05-19 10:01] DeveloperSantosh opened #1458 "Error getting notification"
While retrieving notifications it's throwing errors described below for the code listed below.
[code]
**The line of code where I am getting error is
[code]
I am not sure about the real cause of it but it's maybe caused due to the 'null' value passing in lastModified variable in org.kohsuke.github.GHNotificationStream class line number: 107 of below snippet,

[code]
**Expected behavior**
A GHThread

[2022-05-24 19:26] HiranChaudhuri commented on #1267
My test is not exactly the same. Actually I am trying to create an issue. As a response. I get this (stacktrace omitted):

org.kohsuke.github.GHFileNotFoundException: https://api.github.com/repos/paulwedeck/settlers-remake/issues {"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/issues#create-an-issue"}
Caused by: java.io.FileNotFoundException: https://api.github.c

[2022-05-24 19:35] HiranChaudhuri commented on #1232
I tried to extend from GHObject so I could have some of my own objects feed into a homoenous list of GHObjects.
I failed miserably and believe the root cause to be somehwere between GHObject and OpenJDK.
See also https://stackoverflow.com/questions/72341093/puzzling-class-is-not-abstract-and-does-not-override-abstract-method

[2022-05-25 14:57] ketronkowski commented on #1380
Will a new release of the API come out soon with this fix?

[2022-05-30 20:21] turbanoff opened #1463 "No start_line/line in GHPullRequestReviewComment"
**Describe the bug**
https://docs.github.com/en/rest/pulls/comments#get-a-review-comment-for-a-pull-request
Github states that review comment has following fields:
[code]
But there are no such fields in current API (class `GHPullRequestReviewComment`)

**Expected behavior**
GHPullRequestReviewComment contains all fields which are provided by GitHub

**Additional context**
Thank you for wonderful l

[2022-06-01 08:58] robmoffat opened #1466 "Can't start GitHubApi"
**Describe the bug**
I get the following stack trace:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Using

[code]

This results in the following Jackson libraries being loaded:

[code]

**Expected behavior**
Should start up correctly.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]. OSX
 - Server-Side: tried with JDK17 and 11.

**Additional context**
Seems

[2022-06-01 13:11] robmoffat commented on #1466
Through this slightly cryptic comment you have helped me see the light!  thanks

[2022-06-01 13:39] gsmet commented on #1466
Probably worth sharing how you fixed it for posterity :)

[2022-06-01 20:45] jrarmstro opened #1467 "GHBranchProtection using deprecated field in required_status_checks"
**Describe the bug**

[GHBranchProtection](https://github.com/hub4j/github-api/blob/4e103a6b192ca88c7948457e2b21ea3e6be9de89/src/main/java/org/kohsuke/github/GHBranchProtection.java#L245) is using the `contexts` field in RequiredStatusChecks. [This field](https://docs.github.com/en/enterprise-server@2.22/rest/reference/repos#update-branch-protection--parameters) was [deprecated in GitHub 3.0](http

[2022-06-01 21:31] xocasdashdash opened #1468 "Adding support for rerequesting check-suites/check runs"
So for a project i want to be able to rerun a checksuite that another app already configured (something like travis/jenkins app).

I see that github's API supports this:

- https://docs.github.com/en/rest/checks/runs#rerequest-a-check-run
- https://docs.github.com/en/rest/checks/suites#rerequest-a-check-suite

But i haven't been able to find how to do that with this library. Is this supported? I'd

[2022-06-02 04:18] bitwiseman commented on #1463
Go for it.

[2022-06-02 10:45] verils commented on #937
I was goting to do the same thing in `GHMyself`, then I found this post. What happened that make it still be open? 😂

[2022-06-13 19:26] oubaydos opened #1470 "secret in Repository WebHooks does not exist"
Hello,
the option to set the secret when creating a new webhook is not implemented, i guess it is a must do, because must of webhooks wont work without the secret.
[code]
has no option to set the secret

[2022-06-13 22:10] noellowry opened #1471 "Could not fetch branches from source"
**Describe the bug**
Scan Repository Now fails on some branches

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Click on 'Scan Repository Now'
2. Go to 'Scan Repository Log'
3. See error

**Expected behavior**
Repository to be scanned successfully

[2022-06-14 20:44] AlexanderZobkov commented on #1470
Hello,
The "createWebHook" method is a kind of simpler version of "createHook" method.
If you need to set webhook secrets and etc, use "createHook" method specifying config map with keys as specifed in
https://docs.github.com/en/rest/webhooks/repos#create-a-repository-webhook.

[2022-06-17 00:03] oubaydos commented on #1470
hey, thank you for the response, could i open a pull request with an implementation of this function
[code]

[2022-06-17 00:03] #1470 closed

[2022-06-20 20:28] #1331 closed

[2022-06-20 23:34] #1445 closed

[2022-06-26 06:10] Cloudate9 opened #1484 "Cannot delete blob from tree"
**Describe the bug**
While there is a way to create a tree (`GHTreeBuilder`) and to add an object to the tree (`GHTreeBuilder#add`), there is no clear way to remove an object (i.e. remove a file upon committing the tree + updating a ref). According to the [GitHub REST api docs](https://docs.github.com/en/rest/git/trees#create-a-tree), one should be able to remove a file by passing in a null sha. T

[2022-07-26 21:25] piotrooo opened #1491 "Add `state_reason` for `GHIssue`"
There is missing property `state_reason`, should be added with appropriate enum.

[2022-07-27 22:02] dwnusbaum commented on #1082
I looked into this a bit. For what it's worth, I think that `GHAppInstallation.listRepositories` should be deprecated and eventually deleted. As noted in the various comments above and in GitHub's docs, you cannot call `/installation/repositories` unless you are authenticated as an installation, but `github-api` does not provide a way to get a handle to `GHAppInstallation` when you are authenticat

[2022-08-02 09:48] Jalmeida1994 opened #1497 "GHUser even when event comes from Organization type"
**Describe the bug**
A `GHUser` type is returned even when in the payload the account type is `Organization`.

More precisely in the event `installation.created` when the `installation.account.type` is set to `Organization` (app installed in organization) the `installation.account` in the `@Installation.Created` payload returns a `GHUser`.

[code]

[code]

Also tried to use the `installationPayloa

[2022-08-02 09:55] Jalmeida1994 commented on #1497
I checked the `GHAppInstallation.java` file and checked that the field is indeed a `GHUser`:

[code]

As this is Jackson binding, I don't think we can do a simple `if` statement. Probably change the account to `GHPerson` and add the code to change to `GHUser` or `GHOrganization` later?

[2022-08-03 18:15] aalmiray opened #1498 "Add an option to generate release notes"
GitHub offers an option to generate release notes based on issues and PRs -> https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes

The API call is described at https://docs.github.com/en/rest/releases/releases#generate-release-notes-content-for-a-release

[2022-08-04 11:31] gsmet commented on #1498
I'm having a look at this one as it's something I would like to have too.

[2022-08-04 12:17] aalmiray commented on #1498
FWIW I'm working on this from my own side (JReleaser). The impl is incompatible with hub4j 😅

[2022-08-08 16:04] bitwiseman commented on #1498
@aalmiray
Do you mean your implementation is incompatible with hub4j or do you mean you think hub4j is incompatible with GitHub's API in this area?

[2022-08-08 16:06] aalmiray commented on #1498
@bitwiseman I mean **my** impl is incompatible because it's based on OpenFeign.

[2022-08-08 16:09] bitwiseman commented on #1497
Probably a similar problem to https://github.com/hub4j/github-api/issues/126 .

Jackson has functionality to allow you to switch types based on a field, but I've never used it.

[2022-08-08 16:30] gsmet commented on #1498
I have something in the works. I’ll try to finish it this week together with some other API stuff.

[2022-08-08 16:41] bitwiseman commented on #1457
https://github.com/hub4j/github-api/blob/bcb71a3c318d243c92b757310cf153b8afc983d5/src/main/java/org/kohsuke/github/GHTreeBuilder.java#L92

[2022-08-08 16:47] bitwiseman commented on #1458
There's definitely a bug in the library .
[We have a test for this](https://github.com/hub4j/github-api/blob/54902e845b691d425e27df9a624f8b1013f960f2/src/test/java/org/kohsuke/github/AppTest.java#L1237-L1266), so it is likely that the API changed and the library needs updating.

[2022-08-09 08:22] vinz243 commented on #1457
https://github.com/hub4j/github-api/blob/bcb71a3c318d243c92b757310cf153b8afc983d5/src/main/java/org/kohsuke/github/GHTreeBuilder.java#L148-L149

as you can see the doc says it needs the file content, not the blob sha. If we follow the code:

https://github.com/hub4j/github-api/blob/bcb71a3c318d243c92b757310cf153b8afc983d5/src/main/java/org/kohsuke/github/GHTreeBuilder.java#L136-L137

The blob is f

[2022-08-10 16:09] bitwiseman commented on #1082
Sounds good to me, go for it.

[2022-08-11 14:47] goldbal330 opened #1503 "NPE on PageIterator.next()"
**Describe the bug**
NPE sporadically gets thrown by PageIterator (line 74) when PageIterator.hasNext() is invoked.

**To Reproduce**
Steps to reproduce the behavior:
I was able to reproduce behavior in this simple jUnit Test:

[code]

It seems like in this corner case currentPage does not get initialized and NPE gets thrown when calling currentPage.length on line 75.

**Expected behavior**
NPE sh

[2022-08-16 08:02] Jalmeida1994 commented on #1497
You're completely right. Hmm I may have a look at it. Thanks @bitwiseman!

[2022-08-18 07:06] bitwiseman commented on #1503
PR and test welcome.

[2022-08-18 17:34] #576 closed

[2022-08-18 17:53] bitwiseman commented on #1454
@Vampire Sorry for not responding sooner.  If you are able to create a PR enabling the behavior you want, I'm open to discussing.

[2022-08-18 18:07] bitwiseman commented on #1454
I can see how they are different path but the underlying framework currently treats them the same.  I'll keep this open separately as I can see ways that the upload issue could be resolved separately from the download.

[2022-08-18 20:15] jacoobes opened #1505 "Webhook events"
Hi, I might be missing something in the library, but I need live data from web-hooks, I can't seem to find documentation or an issue for listening to hooks. Thanks!

[2022-08-18 20:27] gsmet commented on #1505
This library won't handle the webhook part but most of the useful payloads are implemented here (one nested class per payload type): https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GHEventPayload.java .

As for reacting to webhooks (and handling all the plumbing), you might be interested in this little library of mine that allows to develop GitHub Apps in Java and re

[2022-08-18 20:28] jacoobes commented on #1505
Thanks for the info!

[2022-08-18 20:31] jacoobes commented on #1505
Hi, a question just popped up in my brain

Would I be using, if i wanted the github api to handle it, the GithubConnector to handle the payload?

[2022-08-18 20:35] gsmet commented on #1505
You would have to use this method https://github.com/hub4j/github-api/blob/main/src/main/java/org/kohsuke/github/GitHub.java#L931-L951 to parse the payloads.

[2022-08-18 20:37] jacoobes commented on #1505
tysm

[2022-08-18 20:37] #1505 closed

[2022-08-19 13:58] alexsuter opened #1506 "GHRepository#isDeleteBranchOnMerge alway returns false"
**Describe the bug**
GHRepository#isDeleteBranchOnMerge alway returns false even if it's true

**To Reproduce**
Call GHRepository#isDeleteBranchOnMerge

**Expected behavior**
GHRepository#isDeleteBranchOnMerge should return true if its true

[2022-08-23 21:23] arslanakhtar61 commented on #1402
The j[javadoc](https://github-api.kohsuke.org/apidocs/index.html) url is unavailable!

[2022-08-25 08:44] tassiLuca opened #1507 "PagedSearchIterable returns a subset of the searched results and has non-deterministic behaviour."
**Describe the bug**
Searching for repositories and getting the results via the `PagedSearchIterable` returns a subset of the results with duplicate `GHRepository` objects and has non-deterministic behavior.

**To Reproduce**
The problem is reproducible with the following JUnit tests.
[code]
[code]

**Expected behavior**
The list of `GHRepository` returned by `PagedSearchIterable` should contains

[2022-08-27 05:16] bitwiseman commented on #1507
The results returned from GitHub are non-deterministic and a subset of possible results. This is by-design behavior documented by GitHub itself.

[2022-08-27 14:56] aalmiray commented on #754
Any chance of this being revisited? Sadly OkHttp is not an option for me. Apache Client would be much better.

Closing a milestone when running on JDK17 will trigger an error because of reflective access.

[2022-08-27 15:01] gsmet commented on #754
@aalmiray are you sure? I think this has been fixed with the latest versions and the switch to the JDK11+ client.

[2022-08-27 15:07] aalmiray commented on #754
Yes, I'm sure as I can't use the JDK11+ client just yet. The code that applies `PATCH` relies on reflection and that crashes under JDK17+

[2022-08-27 15:18] gsmet commented on #754
Well, sure, if you’re not using the JDK 11 one, it will fail. I can understand the Okhttp client might not be ideal given you end up with Kotlin around but not sure why the JDK 11 client wouldn’t be.
Your requirements look extremely specific so maybe you can use a tweaked client layer. I would have thought it would be possible given the infra work that was done.

[2022-08-27 15:56] aalmiray commented on #754
Correct. JReleaser's Maven and Gradle plugins are still bound to JDK8 for the foreseeable future. This problem becomes moot the project upgrades to JDK11.

I suppose staying with hub4j 1.2x is the current workaround.

[2022-08-27 17:24] javapriyan commented on #1506
The curl response itself doesn't have few other attributes described in their [contract]including DeleteBranchOnMerge (https://docs.github.com/en/rest/repos/repos#get-a-repository).

[2022-08-27 17:25] javapriyan commented on #1506
Is it possible that the OAuth token we generate doesn't pull repo setting related attributes.

[2022-08-30 08:53] tassiLuca commented on #1507
Ok, but in this case the `isIncomplete()` method of `PagedSearchIterable` should not return `true`? Instead, it returns `false`.

[2022-08-30 12:29] AmyShields-EN0085 opened #1509 "Javadoc for this library no longer found"
When looking for documentation on library ie: https://github-api.kohsuke.org/apidocs/index.html

You get a 404 page not found.

Would be really handy to have these docs back up!

[2022-08-30 17:54] arslanakhtar61 commented on #1509
Yes, please. The docs URL is not longer working!

[2022-08-30 17:55] arslanakhtar61 commented on #1509
Where can we find the html file for javadocs in the repo so that we can manually load it locally?

[2022-08-30 19:10] arslanakhtar61 commented on #1466
How to fix this issue?

[2022-08-31 18:47] bitwiseman commented on #1466
I'll push a fix for it tonight. In the meantime, you can find the apidocs in the `gh-pages` branch at commit  `64373879b95677cce4c0dc2ab0aaa6dfc2ab3381` (`HEAD~1` on that branch).

[2022-08-31 18:50] bitwiseman commented on #1507
Perhaps. You'll need to debug the returned JSON. Perhaps try using the GitHub API via curl and see what comes back.

[2022-09-02 06:14] bitwiseman commented on #1509
Fixed by reverting to 1.302 api doc.

[2022-09-02 06:14] #1509 closed

[2022-09-02 06:15] #1503 closed

[2022-09-02 06:16] bitwiseman opened #1518 "`mvn site` fails during javadoc processing, still reports success"
This caused #1509 in the 1.308 release.

[code]

[2022-09-05 09:22] lppedd opened #1520 "List check runs in a check suite"
As of now it doesn't seem possible to list check runs under a specific suite.
This is particularly useful when a user request an entire suite to be re-run.
See https://docs.github.com/en/rest/checks/runs#list-check-runs-in-a-check-suite

Is there some workaround?

[2022-09-13 15:46] colltoaction commented on #1082
hey folks I bumped into this issue too. it was hard to find since you only get a 404 response when using the JWT token instead of an app installation token to get a repository.

here goes my implementation where I hide the `GitHub` root and only return valid `GHApp` and `GHOrganization` objects, each one with its own authorization provider:

[code]

[code]

[2022-09-21 13:11] yrodiere commented on #1082
Hey @gsmet , I'd like to give this a try, can you give me access rights to the test org so that I can add the proper tests to my PR?

[2022-09-21 13:12] gsmet commented on #1082
@bitwiseman @yrodiere is working with me at Red Hat on Quarkus GitHub App so I will add him to the test org so he can create tests for his PR.

[2022-09-24 11:02] bloslo commented on #1456
What will be the best approach? Calling `toString()` on the `visibility` or adding the below method to the `AbstractBuilder` that will call the proper method in `GitHubRequest`.

[code]

I will be more than happy to submit a fix for this.

[2022-09-27 04:04] #1082 closed

[2022-09-27 06:42] #1402 closed

[2022-09-27 07:03] #1518 closed

[2022-09-27 07:04] bitwiseman opened #1528 "Maven release fails during javadoc generation"
[code]

[2022-09-27 07:06] bitwiseman commented on #1528
I would work around by not generating javadoc during release:
[code]

However, maven central won't accept that. 😡

[2022-09-27 07:36] bitwiseman commented on #1528
Can be reproduced by running:
[code]

[2022-09-27 07:41] bitwiseman commented on #1528
My most expedient path to fixing this is ripping out  `okhttp3.urlconnection` from the dependencies and declaring a v2.x because that is a breaking change.

[2022-09-27 07:47] bitwiseman commented on #1528
@dwnusbaum @yrodiere @gsmet
If any of you can find a fix  for this that doesn't involve a breaking change , that would be great.

[2022-09-27 08:25] bitwiseman commented on #1528
I worked around this finally by rolling back to a maven-javadoc-plugin v3.0.0 .

This reported 100+ instances of:
[code]
But it didn't fail.  That's bad, but it let me get the release published.
I've rolled forward to v3.4.1 in `main` again.  If I have to downgrade to get another release out, I can do that.

But I'd really like help getting a actual solution to this.

[2022-09-27 11:41] gsmet commented on #1528
I had a look this morning and I couldn't find any way to easily avoid these errors.

Tried a ton of `javadoc` options as I was hoping there could be an option to limit the module checks but the problem seems to be with how the maven-javadoc-plugin includes all the artifacts in the module path:

[code]

There's no way to tweak this module path and, if there's a way to add a dependency to the Javado

[2022-09-28 16:05] familrodrigues opened #1532 "GHMyself fails with Github enterprise"
Trying to connect to Github enterprise with User name & PAT token. GHMyself throws a 401 unauthorized error

**To Reproduce**
Steps to reproduce the behavior:
GitHub github = GitHub.connectToEnterpriseWithOAuth(gitURL, aUsername, aPassword);
GHMyself aUser = github.getMyself();

Issue seems to be in GHMyself u = retrieve().to("/user", GHMyself.class); Expects the token as part of this API call

**

[2022-09-28 20:08] bitwiseman commented on #1532
What version of GitHub Enterprise are you using?
I assume you're passing the PAT in the `password`  parameter there?

[2022-09-29 00:22] #1528 closed

[2022-09-29 07:53] familrodrigues commented on #1532
Hi Thanks for getting back.. We are using the GitHUb SAAS version. Yes the PAT is passed in the password parameter..
GitHub.connectToEnterpriseWithOAuth(gitURL, aUsername, aPassword);
GitURL - https://api.github.com/
aUsername - Github username
aPassword - PAT token

this statement executes correctly and i am able to view the results.
<img width="583" alt="Github-1" src="https://user-images.github

[2022-09-30 12:00] familrodrigues commented on #423
hi @bitwiseman, I can pick up few use cases for documentation with examples.  To start with may be have documentation created around - Creation of repository under an org, Clone a repository, creation of branches etc.. However, this issue seems to be very broad asking for complete upgradation on documentation.. how do we go about this?

[2022-09-30 15:03] bitwiseman commented on #423
@familrodrigues
It is up to you how you want to go about this.
I'd suggest you just submit PRs as you go.  We don't need a bunch of separate tickets or anything.

[2022-10-02 22:00] olehrstm opened #1539 "Maybe add jar file, repo and dependency for the pom.xml"
Hello,
i wanna use the api to download a plugin from a release from github. But I need the repo and dependency or a compiled jar file so I can use it as a library

[2022-10-03 13:59] aadrian commented on #1539
@ole1011  https://mvnrepository.com/artifact/org.kohsuke/github-api/1.313 isn't working for you  ?

[2022-10-03 14:05] #1539 closed, assigned to nobody

[2022-10-03 21:49] goldbal330 opened #1540 "Issue with GHRepositoryStatistics.getContibutorStats(true)"
https://github.com/hub4j/github-api/blob/4bba9680706785d6385ed69243f41a5f36757463/src/main/java/org/kohsuke/github/GHRepositoryStatistics.java#L67

This method will never invoke Thread.sleep if the data is not ready.

 if (stats == null && waitTillReady) {
            for (int i = 0; i < MAX_WAIT_ITERATIONS; i += 1) {
                // Wait a few seconds and try again.
                Thread.slee

[2022-10-05 18:19] ole1011 opened #1542 "Get Release and download it in a private repository"
Hello,
does anyone know how I can get a release and download it in a private repository?

[2022-10-06 18:54] Callek opened #1543 "Should support `parent` team objects"
In `GHTeam` objects, there should be support exposing the result of the `parent` return from `/user/teams` .

Ideally this would be another `GHTeam` object, and bonus points if `getMyTeams()` [1] supports fetching all parents as well (possibly with an arg for consumers to request that functionality).

A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise de

[2022-10-08 04:12] bitwiseman commented on #1543
If you can implement a PR (even without tests) it would be helpful for understanding what it is that you're suggesting.

[2022-10-12 10:29] AmyShields-EN0085 opened #1544 "Create a listTemplates method"
instead of going through all repos via the listRepositories method and then filtering on isTemplate, could there be a listTemplates method?

[2022-10-12 10:34] gsmet commented on #1544
This Java API exposes the methods exposed by the GitHub REST API.

AFAICS, there's nothing in https://docs.github.com/en/rest/repos/repos doing what you want to do so the best you can do is actually list the repositories and filter them.

[2022-10-13 12:55] JasonWu0506 opened #1545 "ghRepositoryStatistics.getCodeFrequency() always report a null pointer error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

  GitHub github = new GitHubBuilder().withOAuthToken(strOAuthToken).build();
            ghRepository = github.getUser(strOrg).getRepository(strRepo);

            GHRepositoryStatistics ghRepositoryStat

[2022-10-17 15:26] devinrsmith opened #1547 "Feature Request: expose shallow event data"
First time user at `github-api`...

I'm interested in consuming the GH event API for organizations. I see that `org.kohsuke.github.GHOrganization#listEvents` returns `org.kohsuke.github.GHEventInfo`s.

Of particular importance for my use case is minimizing API requests. I see some fields in `GHEventInfo` that are commented as "shallow"; I'm assuming this means they have been partially filled in vi

[2022-10-19 10:06] AmyShields-EN0085 opened #1549 "Feature Request: Get template repo details from created repository"
It would be great to be able to get the template repository details from a created repo - so you could know what repository the created repo is based off.

This information is available through the rest API.

Example on a simple GET request to https://api.github.com/repos/org/reponame - I would love to expose the template_repository json object

{
    "id":xxxx,
    "node_id": "R_kgDOIQCw0A",

[2022-10-20 18:20] amigax opened #1550 "Read timed out while connecting to"
This was working fine until recently, now when I try to commit I get:
INFO: Read timed out while connecting to https://api.github.com/repos/XXX/ZZZ/git/trees. Sleeping 100 milliseconds before retrying... ; will try 2 more time(s)

Eventually it says
Server returned HTTP response code: -1, message: 'null' for URL: https://api.github.com/repos/XXX/ZZZZ/git/trees

what could the issue be?

[2022-10-21 18:21] bitwiseman commented on #1550
Are you running using Java 8?

[2022-10-21 18:23] #1544 closed

[2022-10-21 18:24] bitwiseman commented on #1542
Please use Discussions for questions like this.

[2022-10-21 18:24] #1542 closed

[2022-10-21 18:32] bitwiseman commented on #1545
Hm, we do test this code path:
https://github.com/hub4j/github-api/blob/ee1f0685a8e9feb4bdd719470874efb86d9307e2/src/test/java/org/kohsuke/github/GHRepositoryStatisticsTest.java#L148

But it might not be with current data/behavior.  This line needs to be hardened to return `null` instead of throwing:
https://github.com/hub4j/github-api/blob/ee1f0685a8e9feb4bdd719470874efb86d9307e2/src/main/java/or

[2022-10-21 18:53] bitwiseman commented on #1547
You're talking about these fields, yes?
h
ttps://github.com/hub4j/github-api/blob/ee1f0685a8e9feb4bdd719470874efb86d9307e2/src/main/java/org/kohsuke/github/GHEventInfo.java#L34-L37

The objects maybe too shallow to be sensible.  If you are going to take this on, please consider doing the following.

- Add the `public` field, in the same way it is done [here](https://github.com/hub4j/github-api/blo

[2022-10-21 18:56] bitwiseman commented on #1549
PRs welcome.

[2022-10-29 12:44] blacelle opened #1558 "GHRepository.getContent does not handle properly files bigger than 1MB"
**Describe the bug**
When considering a file with size >= 1MB, the library fails with `Unrecognized encoding: none` in org.kohsuke.github.GHContent.read()

**To Reproduce**
Push a file > 1MB, and try `GHRepository.getContent().read()`

**Expected behavior**
Properly fetching of the file content

**Additional context**
GitHub API has a specific behavior on large files: see https://docs.github.com/e

[2022-11-12 01:19] bitwiseman commented on #1491
@gsmet
I've recovered the changes from #1551 into https://github.com/bitwiseman/github-api/tree/pr/1551-recovered .  Feel free to pull them down and complete it.

[2022-11-21 11:14] sundergopalsingh opened #1569 "GHHooks does not get all the hooks with pagination"
**getHooks() does not get all the hooks and only gets the first page of the response**
GHHooks getHooks() method does not get all the hooks when called and only retrieves the first page from the github call.

https://github.com/hub4j/github-api/blob/github-api-1.115/src/main/java/org/kohsuke/github/GHHooks.java#L29

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a repository with mor

[2022-11-25 09:57] Janik7777 opened #1570 "OkHttpGitHubConnector throws NoSuchMethodError"
**Describe the bug**
As I updated my code to get rid of the deprecatd OkHttpConnector and to use the new OkHttpGitHubConnector, following error occured:
[code]
I looked into it and found that the [RequestBody](https://square.github.io/okhttp/3.x/okhttp/okhttp3/RequestBody.html) object needs the `MediaType: contentType` argument, but OkHttpGitHubConnector tries to `body = RequestBody.create(IOUtils

[2022-11-25 10:12] gsmet commented on #1570
I got this error once and IIRC it's because you are using an older version of Okhttp.

[2022-11-25 13:00] Janik7777 commented on #1570
Thank you for your fast answer. I'll try it

[2022-11-25 13:14] Janik7777 commented on #1570
Did work for me with "com.squareup.okhttp3:okhttp:4.10.0"

[2022-11-25 13:14] #1570 closed

[2022-11-28 08:04] bitwiseman commented on #1570
Thanks all for the fast answer to this issue.